
#galleria-loader{height:1px!important}

.galleria-container {
  position: relative;
  overflow: visible;
  background: #000;
}
.galleria-container img {
  -moz-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
}
.galleria-stage {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  overflow:hidden;
}
.galleria-thumbnails-container {
  height: 50px;
  bottom: -60px;
  position: absolute;
  left: 0;
  right: 0;
  z-index: 2;
}
.galleria-carousel .galleria-thumbnails-list {
  margin-left: 30px;
  margin-right: 30px;
}
.galleria-thumbnails .galleria-image {
  height: 40px;
  width: 60px;
  background: #000;
  margin: 0 5px 0 0;
  border: 1px solid #000;
  float: left;
  cursor: pointer;
}
.galleria-counter {
  position: absolute;
  bottom: 10px;
  left: 10px;
  text-align: right;
  color: #fff;
  font: normal 11px/1 arial,sans-serif;
  z-index: 1;
}
.galleria-loader {
  background: #000;
  width: 20px;
  height: 20px;
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 2;
  display: none;
  background: url(classic-loader.gif) no-repeat 2px 2px;
}
.galleria-info {
  width: 70%;
  bottom: 0;
  right: 0;
  z-index: 2;
  position: absolute;
}
.galleria-info-text {
  background-color: #282828;
  padding: 22px 12px 12px 20px;
  display: block;
  height: 64px;
  /* IE7 */ zoom:1;
}
.galleria-info-title {
  display: none !important;
}
.galleria-info-description {
  margin: 0;
}
.galleria-info-description > span {
  display: block;
  float: left;
  font-style: normal;
  font-size: 14px;
  font-weight: bold;
  font-family: 'Open Sans',sans-serif;
  text-transform: uppercase;
  margin-right: 5%;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.galleria-info-description > span:last-child {
  margin-right: 0 !important;
}
.text1_2 {
  color: white;
}
.text1_1 {
  color: #6abd16;
}
.galleria-info-close {
  width: 9px;
  height: 9px;
  position: absolute;
  top: 5px;
  right: 5px;
  background-position: -753px -11px;
  opacity: .5;
  filter: alpha(opacity=50);
  cursor: pointer;
  display: none;
}
.notouch .galleria-info-close:hover{
  opacity:1;
  filter: alpha(opacity=100);
}
.touch .galleria-info-close:active{
  opacity:1;
  filter: alpha(opacity=100);
}
.galleria-info-link {
  background-position: -669px -5px;
  opacity: .7;
  filter: alpha(opacity=70);
  position: absolute;
  width: 20px;
  height: 20px;
  cursor: pointer;
  background-color: #000;
  display: none;
}
.notouch .galleria-info-link:hover {
  opacity: 1;
  filter: alpha(opacity=100);
}
.touch .galleria-info-link:active {
  opacity: 1;
  filter: alpha(opacity=100);
}
.galleria-image-nav {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 70px;
  left: 0;
}
.galleria-image-nav-left,
.galleria-image-nav-right {
  cursor: pointer;
  width: 70px;
  height: 70px;
  position: absolute;
  left: 0px;
  z-index: 2;
}
.galleria-image-nav-right {
  left: auto;
  right: 0px;
  z-index: 2;
}
.notouch .galleria-image-nav-left:hover,
.notouch .galleria-image-nav-right:hover {
  background-position: left -70px;
}
.touch .galleria-image-nav-left:active,
.touch .galleria-image-nav-right:active {
  opacity: 1;
  filter: alpha(opacity=100);
}
.galleria-thumb-nav-left,
.galleria-thumb-nav-right {
  cursor: pointer;
  display: none;
  background-position: -495px 5px;
  position: absolute;
  left: 0;
  top: 0;
  height: 70px;
  width: 70px;
  z-index: 3;
}
.galleria-thumb-nav-right {
  background-position: -578px 5px;
  border-right: none;
  right: 0;
  left: auto;
}
.galleria-thumbnails-container .disabled {
  opacity: .2;
  filter: alpha(opacity=20);
  cursor: default;
}
.notouch .galleria-thumb-nav-left:hover,
.notouch .galleria-thumb-nav-right:hover {
  opacity: 1;
  filter: alpha(opacity=100);
  background-color: #111;
}
.touch .galleria-thumb-nav-left:active,
.touch .galleria-thumb-nav-right:active {
  opacity: 1;
  filter: alpha(opacity=100);
  background-color: #111;
}
.notouch .galleria-thumbnails-container .disabled:hover {
  opacity: .2;
  filter: alpha(opacity=20);
  background-color: transparent;
}

.galleria-carousel .galleria-thumb-nav-left,
.galleria-carousel .galleria-thumb-nav-right {
  display: block;
}
.galleria-thumb-nav-left,
.galleria-thumb-nav-right,
.galleria-info-link,
.galleria-info-close {
  background-image: url(classic-map.png);
  background-repeat: no-repeat;
}
.galleria-image-nav-left {
  background: transparent url(../../../images/prev.gif) no-repeat left top;
}
.galleria-image-nav-right {
  background: transparent url(../../../images/next.gif) no-repeat left top;
}
.galleria-container.videoplay .galleria-info,
.galleria-container.videoplay .galleria-counter{ display:none!important; }
