/*
Theme Name: Infinitygardens
Theme URI: Infinitygardens.ca
Description: Infinitygardens.ca
Version: 1.0
Author: Alexander Karbivnichiy
Author URI: Infinitygardens
Tags: Infinitygardens

*/

/*** Reset Styles ************************************************************/

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, acronym, abbr, blockquote, pre, a, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {margin:0; padding:0; border:0;	outline:0; font-size:100%; vertical-align:baseline; background:transparent;}
body {line-height:1.5;}
blockquote, q {quotes: none;}
blockquote:before, blockquote:after, q:before, q:after {content:''; content:none;}
:focus {outline:0;}
ins {text-decoration:none;}
del {text-decoration: line-through;}
table {border-collapse:collapse; border-spacing:0;}
a img {border:none;}


/*** General *****************************************************************/

body {
  background-color:#fff; color:#444; margin:0; padding:0; text-align:left; font-size:75%;
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
}

p {font-size:13px; line-height:1.5em; margin:0 0 1.5em;}
small {font-size:0.75em;}

a:link, a:visited {color:#282828; text-decoration:none;}
a:hover {color:#6ABD16;}

img {margin:5px;}
img.alignleft {margin-right:1.5em;}
img.alignright {margin-left:1.5em;}

.full-column {border-bottom:1px solid #d1d9dc;}

.alignright {float:right;}
.alignleft {float:left;}
.aligncenter, div.aligncenter {display:block; margin-left:auto; margin-right:auto;}
.wp-caption {border:1px solid #ddd; text-align: center; background-color:#f3f3f3; padding-top:4px; margin:10px;}
.wp-caption img {margin:0; padding:0; border:0 none;}
.wp-caption p.wp-caption-text {font-size:11px; line-height:17px; padding:0 4px 5px; margin:0;}
.clearboth {clear:both;}

.navigation {padding:0.333em 0; font-size:1.5em; border-top:1px solid #d1d9dc;}

.pagetitle {padding:0.333em 0; font-size:1.5em; color:#959ea1; position:relative; border-top:1px solid #d1d9dc;}
.pagetitle span {position:absolute; left:240px;}

#searchform {margin:0 0 1.5em; font-size:1.167em;}


/*** Header ******************************************************************/

.blog-name {font-size:30px; font-weight:bold; line-height:1em;}
.blog-name a:link, .blog-name a:visited {color:#282828; text-decoration:none;}
.blog-name a:hover {color:#6ABD16;}

.description {margin-top:0.5em; font-size:1.5em; color:#282828;}

/*** Posts and Pages *********************************************************/

.post, .page {border-top:1px solid #d1d9dc; padding-top:1.5em;}
* html .post, * html .page {height:1%;} /* Fix for IE6 */

.sticky {border-top:3px solid #d1d9dc;}

h1 {color:#282828; font-size:2em; font-weight:bold; line-height:1em; padding-bottom:0.6em;}
h1 a:link, h1 a:visited {color:#282828; text-decoration:none;}
h1 a:hover {color:#6ABD16;}

.post-info {float:left;padding-right: 10px;}

.timestamp {float:left; font-size:1.5em; color:#282828;}

.comment-bubble {
  float:left;
  font-size:1.5em;
  margin-left:0.5em;
  text-align:center;
  display: none;
}
.comment-bubble a:link, .comment-bubble a:visited {color:#282828; text-decoration:none; display:block; width:27px; height:32px; background:url(images/comment-bubble.gif) no-repeat 0 2px;}
.comment-bubble a:hover {color:#ff8a00;}

.post-content {float:left; overflow:visible;}

.post-content h2 {font-size:2.0em; margin-bottom:0.75em;}
.post-content h3 {font-size:1.5em; margin-bottom:1em;}
.post-content h4 {font-size:1.167em; margin-bottom:0.867em;}

blockquote {background:#fff url(images/blockquote.gif) no-repeat top left; margin-left:7em; padding-left:3em; font-style:italic;}

.pull-1 {margin-left:-8.571em; width:41.428em}
.pull-2 {margin-left:-17.143em; width:50em;}
* html .pull-1, * html .pull-2 {position:relative;} /* Fix for IE6 */

.post-content ul, .post-content ol {margin:0 0 1.5em; padding:0; font-size:1.167em;}
.post-content ul li, .post-content ol li {margin-left:3em; padding-left:0em; line-height:1.5em;}
.post-content ul li ul, .post-content ol li ol, .post-content ul li ol, .post-content ol li ul {font-size:1em;}

pre {white-space:pre-wrap; word-wrap:break-word; margin:0 0 1.5em;}

dl {margin:0 0 1.5em;}
dt {font-weight:bold; font-size:1.167em;}
dd {font-size:1.167em; margin-left:8.571em;}

acronym, abbr {border-bottom:1px dotted #333;}

hr {color:#d1d9dc; height:1px; background-color:#d1d9dc; border:0;}

.more-link {display:block; margin-top:1.5em;}

.post-meta-data {position:relative; margin:0 0 0 10em; height:100%; padding:0.333em 0; border-top:1px solid #d1d9dc;}
.post-meta-data span {}

.gallery {margin:0 0 1.5em 0; padding:0;}
.gallery-item {float:left; margin:10px 0 0 0; text-align:left; padding:0;}
.gallery img, .gallery a img {border:solid 1px #D9D9D9; background:#ffffff; padding:4px; margin:0;}
.gallery a:hover img {border-color:#666666; background:#fff;}
.gallery-caption {margin:0 0 1.5em 0; font-size:0.833em; line-height:1.167em; color:#666;}

table {margin:1.5em 0; padding:0; border-collapse:collapse;}
table th {padding:0.5em; border:1px solid #d1d9dc; background-color:#f8f8f8;}
table tr {margin:0; padding:0;}
table tr td {padding:0.5em; border:1px solid #d1d9dc;}

/*** Comments ****************************************************************/

#comment-wrapper {padding-left:10em; border-top:1px solid #d1d9dc;}

h3#comments {font-size:1.5em; position:relative; height:100%; padding:0.333em 0; color:#959ea1; font-weight:normal;}
h3#comments span {position:relative; left:0;}
h3#comments span:before {content: "\00a0\00a0";}

ol.commentlist {margin:0; padding:0;}
ol.commentlist li {list-style:none; position:relative; border-top:1px solid #d1d9dc; padding:0.333em 0 0 10em;} 
ol.commentlist li.bypostauthor {border-top:1px solid #6a797d;} 
ol.commentlist li.comment-author-admin {border-top:1px solid #6a797d;} 
ol.commentlist li.comment div.vcard {padding-top:1.0em; }
ol.commentlist li.comment div.vcard cite.fn {font-size:1.167em;} 
ol.commentlist li.comment div.vcard img.avatar {position:absolute; left:0em; padding-top:0.333em;}
* html ol.commentlist li.comment div.vcard img.avatar {left:-10em;} /* Fix for IE6 */
ol.commentlist li.comment div.vcard span.says {visibility:hidden;}
ol.commentlist li.comment div.comment-meta {margin-bottom:1em;} 
ol.commentlist li.comment div.reply {position:absolute; top:8px; right:3px;}
ol.commentlist li.pingback div.vcard {padding-top:1.0em;} 
ol.commentlist li.pingback div.vcard cite.fn {font-size:1.167em;} 
ol.commentlist li.pingback div.vcard span.says {visibility:hidden;} 
ol.commentlist li.pingback div.reply {position:absolute; top:8px; right:3px;}

#respond {position:relative; padding:0; border-top:1px solid #d1d9dc; margin-bottom:3em;}
#respond h3 {font-size:1.5em; color:#959ea1; padding:0.333em 0; font-weight:normal;}

.cancel-comment-reply {position:absolute; top:8px; right:3px;}

#commentform {border-top:1px solid #d1d9dc; padding-top:1em;}

.nocomments {border-top:1px solid #d1d9dc; padding:1em 0 0 8.571em;}

.form-field {position:relative; margin-bottom:1em; height:100%;}
.form-field span {position:absolute; left:8.571em;}
.form-field #author, .form-field #email, .form-field #url {background-color:#fcfcfc; border:1px solid #333;}
.form-field span textarea#comment {background-color:#fcfcfc; border:1px solid #333; height:200px; font-size:1em; font-family:"Helvetica Neue", Arial, Helvetica, sans-serif;}

.comment-box {margin-bottom:200px;}
.comment-box > span {float: left;text-align:left;position:relative;left:0;}

/*** Sidebar + Widgets *******************************************************/

#sidebar { border-top:1px solid #d1d9dc; margin:0 0 1em 0; padding:1em 0 0 0;}
#sidebar li {display:inline; width:15.713em; margin-right:1.429em; overflow:hidden; float:left; list-style:none;}
#sidebar .widget {font-size:1.167em; line-height:1.5em;}
#sidebar li h2 {font-size:1.714em; color:#959ea1; padding:0.333em 0;}

#sidebar li ul li a {display:block;}


/*** Footer ******************************************************************/

footer {
  padding: 16px 0 21px 0 !important;
  width: 100%;
}
#bbb {
  float: left;
  width: 94px;
  height: 35px;
}
#bbb img {
  float: left;
}
.footerline {
  font-size: 12px;
  line-height: 18px;
}
.footer {
  text-align: right;
}
.maverickdark {
  background: url("../infinitygardens/images/maverick.png") no-repeat scroll left top rgba(0, 0, 0, 0);
  display: inline-block;
  height: 11px;
  margin: 2px 0 0;
  width: 91px;
}

.last2 {
  background: url("../infinitygardens/images/residential_top_bg_repeat.jpg") repeat-x scroll left top rgba(0, 0, 0, 0);
  padding-bottom: 0 !important;
  position: relative;
}
header {
  padding-bottom: 38px;
  position: relative;
  width: 100%;
  z-index: 2;
}
#commercialbtn {
  right: 63px;
  top: 0;
  color: #6ABD16;
  cursor: pointer;
  outline: medium none;
  text-decoration: none;
}
.splitbtn_notactive {
  cursor: pointer !important;
}
#topheader {
  height: 134px;
  position: relative;
}
#header {
  margin: 16px 0;
  text-align: left;
}
header h1 {
  font-size: 0;
  line-height: 0;
  margin: 0;
  padding: 27px 0 0;
}
#top_logo {
  margin: 4px 0 0 24px;
}
.residential_logo_big {
  background: url("../infinitygardens/images/residential_logo_big.png") no-repeat scroll left top rgba(0, 0, 0, 0);
  display: block;
  height: 85px;
  width: 233px;
}
.top_email {
  height: 60px;
}
.clear {
  clear: both;
  display: block;
  height: 0;
  overflow: hidden;
  visibility: hidden;
  width: 0;
}
.mainmenu.tablet_portrait, .top_email.tablet_portrait {
  display: none;
}
.text1 {
  color: #CFE34B;
  display: block;
  font-family: 'Open Sans',sans-serif;
  font-size: 26px;
  font-weight: bold;
  letter-spacing: 2px;
  line-height: 32px;
  margin-bottom: 2px;
  padding-top: 6px;
}
.text2 {
  color: #555555;
  display: inline-block;
  font-family: 'Open Sans',sans-serif;
  font-size: 10px;
  font-weight: 700;
  letter-spacing: 1px;
  line-height: 15px;
  text-transform: uppercase;
}
.link1 {
  color: #9A9A9A;
  font-family: 'Open Sans',sans-serif;
  font-size: 10px;
  font-weight: 700;
  letter-spacing: 1px;
  line-height: 15px;
  text-transform: uppercase;
  transition: all 0.4s ease 0s;
}
.mainmenu {
  float: right;
  height: 38px;
  list-style: none outside none;
  margin: 30px 0 7px 0;
  padding-top: 1px !important;
}
.mainmenu li {
  cursor: pointer;
  float: right;
  font-family: 'Montserrat',sans-serif;
  font-size: 11px;
  height: 24px;
  margin: 0;
  padding: 8px 0;
}
.mainmenu li a {
  color: #FFFFFF !important;
  float: right;
  font-weight: 700;
  height: 16px;
  padding: 3px 20px;
}
.mainmenu li div {
  background-color: #616551;
  float: right;
  height: 22px;
  width: 2px;
}
.mainmenu li:hover a, .activemenu a {
  background-color: #616551;
  text-decoration: none;
}
.splitbtn {
  background-color: rgba(0, 0, 0, 0);
  color: #FFFFFF;
  display: block;
  font-family: 'Montserrat',sans-serif;
  font-size: 11px;
  font-weight: 700;
  height: 26px;
  padding: 16px 0 0;
  position: absolute;
  text-align: center;
  width: 119px;
  z-index: 2000;
}
#splitbtns {
  background: url("../infinitygardens/images/splitbtns.png") no-repeat scroll center top rgba(0, 0, 0, 0);
  height: 98px;
  left: 390px;
  position: absolute;
  top: 0;
  width: 372px;
}
#residentialbtn {
  left: 63px;
  top: 0;
}
.splitbtn:hover, .splitbtn_active {
  background: url("../infinitygardens/images/splitbtn.png") no-repeat scroll left top rgba(0, 0, 0, 0);
  cursor: default;
  text-decoration: none;
}
#searchform #s {
  width: 210px;
}

@media only screen and (max-width:479px) {
  #splitbtns {
    position:absolute;
    width:300px;
    left:0px;
    height:98px;
    background:transparent url(../infinitygardens/images/splitbtns.png) no-repeat center top;
  }
  #residentialbtn {
    left:27px;
    top:0;
  }
  #commercialbtn {
    right:27px;
    top:0;
  }
  .residential_logo_big {
    background:transparent url(../infinitygardens/images/residential_logo.png) no-repeat left bottom;
    width:192px;
    height:14px;
    display:block;
    float:none;
  }
  .commercial_logo_big {
    background:transparent url(../infinitygardens/images/residential_logo.png) no-repeat left bottom;
    width:192px;
    height:14px;
    display:block;
    float:none;
  }
  #top_logo {
    margin:36px auto 0;
  }
  .mainmenu.mobile_portrait {
    display:inline;
  }
  .fullscreen {
    display:none !important;
  }
  .mainmenu li a {
    float:none;
    font-weight:700;
    height:18px;
    margin:0;
    padding:5px;
    display:inline;
  }
  .camera_wrap {
    margin: 14px 0 0 !important;
    min-height: 100px;
  }
  .mainmenu li {
    line-height:30px;
    float:none;
    display:inline;
  }
  .mainmenu {
    text-align:center;
    margin-top:20px;
    height:60px;
  }
  #top_bg {
    height:382px !important;
  }
  #topheader {
    height:159px !important;
  }
  #leftmenuscroll {
    position: static !important;
  }
  .blog-name {font-size:32px;}
}

@media only screen and (min-width:480px) and (max-width:767px) {
  #topheader {
    height:190px;
  }
  #splitbtns {
    left:0;
    top:0;
    width:420px;
    height:98px;
    background:transparent url(../infinitygardens/images/splitbtns.png) no-repeat center top;
  }
  .residential_logo_big {
    background:transparent url(../infinitygardens/images/residential_logo.png) no-repeat left bottom;
    width:192px;
    height:14px;
    display:block;
    float:none;
  }
  .commercial_logo_big {
    background:transparent url(../infinitygardens/images/residential_logo.png) no-repeat left bottom;
    width:192px;
    height:14px;
    display:block;
    float:none;
  }
  #top_logo {
    margin:60px auto 0;
  }
  header h1 {
    padding:0 !important;
  }
  #residentialbtn {
    left:87px;
    top:0;
  }
  #commercialbtn {
    right:87px;
    top:0;
  }
  .top_email.tablet_portrait {
    display:block;
  }
  .top_email .text1 {
    padding:0;
    margin:0;
  }
  .mainmenu {
    float:right;
    height:auto;
    list-style:none outside none;
    padding:4px 0;
    margin:8px 0px;
    text-align:center;
  }
  .mainmenu li {
    float:none;
    height:24px;
    line-height:24px;
    margin:0;
    display:inline;
  }
  .mainmenu.mobile_portrait {
    display:inline;
  }
  .fullscreen {
    display:none !important;
  }
  .mainmenu li a {
    float:none;
    font-weight:700;
    height:18px;
    margin:0;
    padding:4px 4px;
    display:inline;
  }
  .blog-name {font-size:32px;}
}

@media only screen and (min-width:768px) and (max-width:995px) {
  #topheader {
    height:138px;
  }
  #your-comment {
    width: 110px;
  }
  .mainmenu li a {
    float:right;
    height:16px;
    margin:0px 0;
    padding:3px 8px;
  }
  #splitbtns {
    left:140px;
    top:0px;
    width:420px;
    height:98px;
    background:transparent url(../infinitygardens/images/splitbtns.png) no-repeat center top;
  }
  #residentialbtn {
    left:87px;
    top:0;
  }
  #commercialbtn {
    right:87px;
    top:0;
  }
  .mainmenu li div {
    float: left !important;
  }
  .top_email.fullscreen {
    display:none;
  }
  .top_email.tablet_portrait {
    display:block;
  }
  #residential .soc-links,
  #commercial .soc-links {
    background-position:-981px -136px;
  }
}

@media only screen and (max-width:767px) {
  ol.commentlist li {
    padding:0.333em 0 0 60px;
  } 
  body {
    min-width:420px;
  }
  .logo {
    margin:0 auto;
  }
  header h1 {
    padding:31px 0 0 0;
    float:none;
  }
  .text1 {
    text-align:center;
    padding-top:38px;
  }
  .text3 {
    padding-top:31px;
  }
  .inner1 {
    text-align:center;
  }
  .list2 li strong {
    display:none;
  }
  .text1_2 {
    margin-right:0 !important;
  }
}

@media only screen and (max-width:995px) {
  .post-meta-data {
    margin: 0 0 0 0;
  }
  #comment-wrapper {
    padding-left: 0;
  }
  h3#comments span {
    position: relative;
    margin: 0 0 0 5px;
    left: 0;
    top: 0;
    display: inline;
  }
  h3#comments span:before, .post-meta-data span:before {
    content: "\00a0\00a0";
  }
  .form-field span, .post-meta-data span {
    position: relative;
    left: 0;
  }
  #loggedin span:before {
    content: "\00a0\00a0\00a0\00a0";
  }
  .submit-button {
    margin-top: 14px;
  }
}

@media only screen and (min-width:768px) and (max-width:1024px) {
  body {
    min-width:768px;
  }
}

#submit {
  cursor: pointer;
}
