<!--==============================footer=================================-->
<footer class="container_24">
    <div class="grid_7 alpha"><img id="bbb" src="/web/images/bbb.png" alt=""/></div>
    <div class="grid_17 footer omega">© 2014 Infinity Gardens. All rights reserved.</div>
    <div class="grid_17 footer omega">Website Design and Development by <a href="http://maverickagency.ca/">Maverick</a></div>
</footer>