<ul>
    <li><a href="{{ url('commercial_services') }}#snow-removal">Snow Removal</a></li>
    <li><a href="{{ url('commercial_services') }}#spring-cleanup">Spring Cleanup</a></li>
    <li><a href="{{ url('commercial_services') }}#summer-maintanance">Summer Maintenance</a></li>
    <li><a href="{{ url('commercial_services') }}#fall-cleanup">Fall Cleanup</a></li>
    <li><a href="{{ url('commercial_services') }}#fertilization">Weed Control & Fertilization</a></li>
    <li><a href="{{ url('commercial_services') }}#sprinkler">Sprinkler start-up and blowout</a></li>
    <li><a href="{{ url('commercial_services') }}#custom">Custom Contracts</a></li>
    <li><a href="{{ url('residential') }}">Residential</a></li>
</ul>
