<div class="newsevent">
    <div class="newseventdate">August 13, 2014</div>
    <h4 class="newseventheader">Winter is around the corner!</h4>
    <div class="newseventtxt">
        <span>Even though we would rather not think about it, winter is just around the corner. Get your snow removal service booked now to ensure your property will have priority this winter. Call Erin @403-991-0762.</span>
    </div>
</div>
<div class="newsevent">
    <div class="newseventdate">April 15, 2014</div>
    <h4 class="newseventheader">Spring is Here!</h4>
    <div class="newseventtxt">
        <span>If you see our trucks around the city you will notice we are working hard doing spring cleanup. We are power raking, pruning and edging your beds to get your property ready to look beautiful this summer. If you haven’t booked your landscape maintenance company yet call Infinity Gardens at 403-401-0375.</span>
    </div>
</div>
