<article class="grid_24 slider">
    <div class="inner-block posrel">
        <ul class="soc-links">
            <li><a class="soc-link1" href="#"></a></li>
            <li><a class="soc-link2" href="#"></a></li>
            <li><a class="soc-link3" href="#"></a></li>
        </ul>               
        <div class="camera_wrap camera_azure_skin" id="camera">        
            <div data-src="/web/content/commercial_slider/049.jpg">
                <a href="{{ url('commercial_gallery') }}" class="text1_1">Infinity Commercial specializes in commercial summer maintenance and snow removal.</a>
            </div>
            <div data-src="/web/content/commercial_slider/064.jpg">
                <a href="{{ url('commercial_gallery') }}" class="text1_1">Our summer maintenance package is complete to offer everything your business needs to look great.</a>
            </div>
            <div data-src="/web/content/commercial_slider/008.jpg">
                <a href="{{ url('commercial_gallery') }}" class="text1_1">Our snow removal includes a monthly service making sure your lots are a priority over the unpredictable winter.</a>
            </div>
	    <div data-src="/web/content/commercial_slider/119.jpg">
                <a href="{{ url('commercial_gallery') }}" class="text1_1">Our snow removal includes a monthly service making sure your lots are a priority over the unpredictable winter.</a>
            </div> 
        </div>
    </div> 
</article>
