<!DOCTYPE html>
<html>
    <head>
        <title>Division</title>
        <meta charset="utf-8">
        <meta name="format-detection" content="telephone=no" >
        <meta name="description" content="Your description">
        <meta name="keywords" content="Your keywords">
        <meta name="author" content="Your name">
        <link rel='stylesheet' type='text/css' href='http://fonts.googleapis.com/css?family=Montserrat:400,700'/>
        <link rel="stylesheet" href="/web/css/reset.css">
        <link rel="stylesheet" href="/web/css/style.css"/>
        <style>
            body {
                background-color: #eaeaea;
            }
        </style>
    </head>
    <body>
        <div id="landing">
            <div id="toplogos">
                <div id="toplogoscenter"></div>
                <div class="landing_residential_logo" id="landing_residential_logo"></div>
                <div class="landing_commercial_logo" id="landing_commercial_logo"></div>
            </div>
            <div id="leftright">
                <a href="{{ url('residential') }}" id="landingleft">
                    <div class="landingheader">
                        <h1>Residential</h1>
                        <h3>division</h3>
                        <div class="headertxt">quick blurb about services, accolades,<br/>history, etc about infinity gardens<br/>residential</div>
                        <div id="goresidential"></div>
                    </div>
                </a>
                <a href="{{ url('commercial') }}" id="landingright">
                    <div class="landingheader">
                        <h1>Commercial</h1>
                        <h3>division</h3>
                        <div class="headertxt">quick blurb about services, accolades,<br/>history, etc about infinity<br/>commercial division</div>
                        <div id="gocommercial"></div>
                    </div>
                </a>
            </div>
        </div>
    </body>
</html>