.cleared{
	clear:both;
	padding:0px;
	margin:0px;
	line-height:1px;
	font-size:1px;
}

.help{
	font-size:14px;
	line-height:18px;
	color:#808080;
	padding:3px 0px;
}

#option-tab-container{
	font-size:14px;
	line-height:18px;
	background-color:#fafafa;
}

.footer-task-bar{
	padding:18px 24px;
	font-size:14px;
	line-height:18px;
	font-family:Tahoma;
	color:#808080;
	background-color:#404040;
}


#option-area img,.upload_wp img{
	max-width:100%;
}

.admin-logo{
	padding:30px 36px;
	background-color:#fafafa;
	line-height:0px;
	border:1px solid #e5e5e5;
	font-size:48px;
	line-height:48px;
	font-weight:900;
	color:#00a68e;
	text-transform:uppercase;
	letter-spacing:-1px;
}


.normal_input{
	box-sizing:border-box;
	-moz-box-sizing:border-box; /* Firefox */
	width:100%;
}

.normal_textarea{
	box-sizing:border-box;
	-moz-box-sizing:border-box; /* Firefox */
	width:100%;
	padding:5px;
	text-align:left;
}

.column2{
	float:left;
	width:48%;
	margin-right:4%;
}

.column3{
	float:left;
	width:30%;
	margin-right:4%;
}

.column4{
	float:left;
	width:22%;
	margin-right:4%;
}


.option-section{
	padding:24px;
	border-bottom:1px dotted #f2f2f2;
}

.option-section-white{
	padding:24px;
}

.input-section{
	margin-bottom:12px;
}

#option-area{
	background-color:#4d4d4d;
}

#option-tab-buttons{
	float:left;
	width:20%;
}

#option-tab-container{
	float:left;
	width:80%;
	background-color:white;
	box-sizing:border-box;
	-moz-box-sizing:border-box; /* Firefox */
}

#option-tab-buttons div a{
	background-color:#404040;
	color:white;
	font-weight:bold;
	margin-top:-1px;
}

#option-tab-buttons div a:hover{
	cursor:pointer;
	color:#00a68e;
}

#option-tab-buttons a{
	display:block;
	padding:12px 0px 12px 24px;
	color:white;
	text-decoration:none;
	font-size:16px;
	line-height:22px;
}

#option-tab-buttons .tab-current a{
	background-color:#00a68e;
	color:white;
	border-bottom:0px;
}

#option-tab-buttons .tab-current a:hover{
	background-color:#00a68e;
	color:white;
	border-bottom:0px;
}

.option-tab-title {
	color:#808080;
	font-weight:300;
	font-size:30px;
	background-color:#fafafa;
	padding:40px 24px;
}

.option-section-title{
	padding:0px 0px 10px 0px; 
	font-size:18px;
	line-height:24px;
	font-weight:bold;
	
}

.option-tab{
	display:none;
}

.tab-current{
	display:block;
}

#option-area label{
	padding:0px 6px;
}

.add-more-button{
	background-color:#00a68e;
	color:white;
	font-size:14px;
	line-height:18px;
	border-radius:3px;
	padding:6px 12px;
	display:inline-block;
	margin-bottom:12px;
	border:1px solid #262626;
}

.add-more-button:hover{
	cursor:pointer;
	background-color:#808080;
	color:white;
}
/* column for widget field */

.column2{
	float:left;
	width:49.2%;
	margin-right:1.6%;
}

.column3{
	float:left;
	width:32.2%;
	margin-right:1.6%;
}


.column-last{
	margin-right:0px;
}

#form-bottom-button{
	margin-top:24px;
}


#hidden-form-data{
	display:none;
}

.msg{
	background-color: lightYellow;
	border-color: #E6DB55;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	border-width: 1px;
	border-style: solid;
	padding:8px 12px;
	margin-bottom:12px;
	font-weight:bold;
}

.color-scheme{
	float:left;
	color:white;
	text-transform:uppercase;
	font-weight:bold;
	padding:3px;
	cursor:pointer;
	margin-right:12px;
	margin-bottom:12px;
	font-size:12px;
	letter-spacing:-3px;
	border:1px solid #cccccc;
	border-radius:3px;
	width:120px;
}

.color-scheme span{
	display:inline-block;
	width:100%;
	height:16px;
	text-align:center;
	padding:6px 0px;
	letter-spacing:0px;
}

.color-scheme span.selection-code{
	color:#666666;
}


.column_last{
	margin-right:0%;
}

.body_font_textarea{
	font-size:13px;
	line-height:20px;
}

.menu_font_textarea{
	font-size:14px;
	line-height:24px;
	font-weight:bold;
	font-weight:700;
	text-transform:uppercase;
}

.heading_font_textarea{
	font-size:16px;
	line-height:24px;
	font-weight:bold;
	font-weight:700;
	text-transform:uppercase;
}

.meta-field-title{
	font-weight:bold;
	padding-bottom:5px;
	padding-top:5px;
}

.upload_field,
.upload_field_width,
.upload_field_height{
	display:none;
}

.flexible-upload .upload_field{
	display:inline;
}

.red-button{
	color:red !important;
}