.carousel2 li {
	float:left;
}

.carousel-div1 {
	position: relative;
	z-index:9;	
}


.carousel2 {
	cursor: auto !important;	
	overflow:hidden;
	height:202px;
}


.caroufredsel_wrapper {
	z-index:9;
	
}


.prev1 {
	background: url(../images/prev1.png) 0 0 no-repeat;
	display: block;
	width: 7px;
	height: 13px;
	position:absolute;
	right: 53px;
    top: -15px;
	z-index:99;
}


.next1 {
	background: url(../images/next1.png) 0 0 no-repeat;
	display: block;
	width: 7px;
	height: 13px;
	z-index:99;
	position:absolute;
	right: 39px;
    top: -15px;
}



.next1:hover,
.prev1:hover {
	background-position: right 0;	
}

@media only screen and (max-width: 767px) {

	.carousel2-div {
		margin: 0 !important;	
	}
}

 @media only screen and (max-width: 479px) { 

	

	}