/***** Contact form *****/
/***** Contact form *****/
#form1 {
    position:relative;
    vertical-align:top;
    z-index:1;
    font-family:Arial, Helvetica, sans-serif;
    padding:36px 0;
}

#form1 fieldset {
    border:none;
    padding:0;
}

#form1 label {
    display: block;
    min-height: 49px;
    position: relative;
    float: left;
}

#form1 label.message {
    height: 220px;
    width: 100%;
}
.firstname, .lastname, .email, .phone {
    width: 49%;
}
.lastname, .email {
    float: right !important;
}
#form1 input {
    outline: none;
    border:1px solid #e7e7e7;
    color: #b7b7b7;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 13px;
    margin: 0;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
    padding: 9px 9px 10px;
    width: 100%;
    background:#f5f5f5;
    display:inline-block;
}
#form1 .area .error { float:none;}
#form1 textarea {	
    height:200px;
    margin:0;
    width:100%;	
    background:#f5f5f5;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
    resize:none;
    outline: none;
    border:1px solid #e7e7e7;
    padding: 9px;
    overflow:auto;
    color:#b7b7b7;
    font-family:Arial, Helvetica, sans-serif;
    font-size:13px;
    display:block;
}
#form1 a {cursor:pointer;}
#form1 .success {
    background: none repeat scroll 0 0 #f6f6f5;
    border: 1px solid #333333;
    display: none;
    height: 135px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
    position: absolute;
    width: 100%;
    z-index: 1;
}

.p27 {
    margin-right:21px;
    display:inline-block;
}

#form1 .success .success_txt {
    color: #000;
    position: relative;
    text-align: center;
    top: 34%;
}
#form1 .error,
#form1 .empty {
    color:#f00;
    font-size:10px;
    line-height:1.25em;
    display:none;
    font-family:Arial, Helvetica, sans-serif;
    overflow:hidden;
    position:absolute;
    right:3px;
    top:2px;
}
#form1 .message .error,
#form1 .message .empty  {
    left: 4px;
    right:auto;
    top: 371px;
}

.link-form {
    float: left;
}


@media only screen and (max-width: 995px) {
    #form1 input, #form1 textarea{width:100%;}
    #form1 label.message {
        width: 100%;
        height:410px;
    }
    #form1 label {
        width: 100%;
    }

    #form1 .success {
        width: 100%;	
    }
}

@media only screen and (max-width: 767px) {
    #form1 input, #form1 textarea{width:100%;}

    #form1 label {
        width: 100%;
    }

    #form1 .success {
        width: 100%;	
    }

}




@media only screen and (max-width: 479px){



}