body {
  background:#fff;
  font:13px/18px"Trebuchet MS", Arial, Helvetica, sans-serif;
  /* color:#b7b7b7; */
  color:#444;
  position:relative;
  min-width:980px;
}
@font-face {
  font-family:"Nevis";
  src:url(web/css/nevis.ttf) format("truetype");
}
img {
  width:100%;
  height:auto;
}
a[href^="tel:"] {
  color:inherit;
  text-decoration:none;
}
* {
  -webkit-text-size-adjust:none;
}
.floatright {
  float:right;
}
.floatleft {
  float:left;
}
html,
body {
  height:100%;
}
p {
  padding-bottom:18px;
}
#residential a {
  color:#6abd16;
  outline:none;
  cursor:pointer;
  text-decoration:none;
}
#commercial a {
  color:#3171A1;
  outline:none;
  cursor:pointer;
  text-decoration:none;
}
#residential a:hover {
  color: #417e04;
}
#commercial a:hover {
  color: #1151B1;
}
a:hover {
  text-decoration:underline
}
/*  Header styles */

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height:1em;
  color:#282828;
  font-family:'Open Sans', sans-serif;
  letter-spacing:1px;
}
h1 {
  font-size:26px;
  margin-top:36px;
}
h2 {
  font-size:24px;
  margin-top:36px;
}
h3 {
  font-size:22px;
  margin-top:36px;
}
h4 {
  font-size:20px;
  margin-top:36px;
}
h5 {
  font-size:18px;
  margin-top:36px;
}
h6 {
  font-size:16px;
  margin-top:36px;
}
/* Global Structure---------------------------------------- */

/*----- txt,links,lines,titles -----*/

.extra-wrap {
  overflow:hidden;
  display:block;
}
.fleft {
  float:left
}
.fright {
  float:right
}
.alignright {
  text-align:right
}
.aligncenter {
  text-align:center
}
.alignmiddle * {
  vertical-align:middle
}
.color1 {
  color:#ff2100;
}
.last1 {
  margin-bottom:0 !important;
}
.wrapper {
  width:100%;
  overflow:hidden;
}
.p1 {
  margin-bottom:8px;
}
.p2 {
  margin-bottom:15px;
}
.p3 {
  margin-bottom:30px;
}
.p4 {
  margin-bottom:40px;
}
.p5 {
  margin-bottom:50px;
}
.reg {
  text-transform:uppercase;
}
.title {
  margin-bottom:18px;
}
.it {
  font-style:italic;
}
.letter {
  letter-spacing:-1px;
}
/*********************************boxes**********************************/

.margin-bot {
  margin-bottom:35px;
}
.spacing {
  margin-right:35px;
}
.indent {
  padding:0 0 0px 30px;
}
.indent2 {
  padding-left:50px;
}
.indent-bot {
  margin-bottom:20px;
}
.indent-bot2 {
  margin-bottom:30px;
}
.indent-bot3 {
  margin-bottom:45px;
}
.img-indent-bot {
  margin-bottom:25px;
}
.img-indent {
  float:left;
  margin:0 20px 0px 0;
}
.img-indent2 {
  float:left;
  margin:0 13px 0px 0;
}
.img-indent-r {
  float:right;
  margin:0 0px 0px 40px;
}
.prev-indent-bot {
  margin-bottom:10px;
}
.buttons a:hover {
  cursor:pointer;
}
.logo {
  display:block;
  width:174px;
  height:119px;
  text-indent:-5000px;
  background:url(../images/logo.png) 0 0 no-repeat;
}
/*********************************header*************************************/

header {
  width:100%;
  position:relative;
  z-index:2;
  padding-bottom:38px;
}
header h1 {
  padding:27px 0 0;
  margin:0;
  font-size:0;
  line-height:0;
}
.soc-links a {
  display:block;
  width:19px;
  height:16px;
}
.soc-links a:hover {
  background-position:0 -20px;
}
.soc-links li {
  display:block;
  margin:0 0 20px 26px;
}
.soc-link1 {
  background:url(../images/soc-link1.png) no-repeat 0 0;
}
.soc-link2 {
  background:url(../images/soc-link2.png) no-repeat 0 0;
}
.soc-link3 {
  background:url(../images/soc-link3.png) no-repeat 0 0;
}
.soc-link4 {
  background:url(../images/soc-link4.png) no-repeat 0 0;
}
#residential .text1 {
  color:#cfe34b;
  display:block;
  font-family:'Open Sans', sans-serif;
  font-size:26px;
  font-weight:bold;
  letter-spacing:2px;
  line-height:32px;
  margin-bottom:2px;
  padding-top:6px;
}
#commercial .text1 {
  color:#3171A1;
  display:block;
  font-family:'Open Sans', sans-serif;
  font-size:26px;
  font-weight:bold;
  letter-spacing:2px;
  line-height:32px;
  margin-bottom:2px;
  padding-top:6px;
}
.text2 {
  display:inline-block;
  color:#555555;
  font-family:'Open Sans', sans-serif;
  font-size:10px;
  letter-spacing:1px;
  font-weight:700;
  text-transform:uppercase;
  line-height:15px;
}
.link1 {
  color:#9a9a9a;
  transition:all 0.4s ease 0s;
  font-family:'Open Sans', sans-serif;
  font-size:10px;
  font-weight:700;
  letter-spacing:1px;
  text-transform:uppercase;
  line-height:15px;
}
.text3 {
  color:#b9b9b9;
  font-family:'Open Sans', sans-serif;
  font-size:12px;
  font-weight:bold;
  display:block;
  padding-top:101px;
  letter-spacing:1px;
  text-transform:uppercase;
  line-height:16px;
}
.link1:hover {
  color:#b9b9b9;
  text-decoration:none;
}
/********************** Content ************************/

#content {
  width:100%;
  padding:32px 0 32px;
  position:relative;
  z-index:1;
}
/***** Page 1 *****/

.p7 {
  margin-top:82px;
}
#residential .list1 a {
  color:#6abd16;
  font-family:'Open Sans', sans-serif;
  font-size:12px;
  font-weight:bold;
  letter-spacing:1px;
  transition:all 0.4s ease 0s;
  text-transform:uppercase;
}
#commercial .list1 a {
  color:#3171A1;
  font-family:'Open Sans', sans-serif;
  font-size:12px;
  font-weight:bold;
  letter-spacing:1px;
  transition:all 0.4s ease 0s;
  text-transform:uppercase;
}
.page1-img2 {
  margin-bottom:14px;
}
.list1 a:hover {
  color:#b9b9b9;
  text-decoration:none;
}
.list1 li {
  background:url("../images/marker1.png") no-repeat scroll 0 4px transparent;
  display:block;
  line-height:15px;
  padding-bottom:13px;
  padding-left:15px;
}
.list1 {
  margin-top:31px;
}
.text4 {
  display:block;
  color:#282828;
  font-size:40px;
  line-height:40px;
  /* font-family:'Medula One', cursive; */
  font-family:'Montserrat', sans-serif;
  margin-top:40px;
  text-transform:none;
  font-weight:400;
}
.p8 {
  margin-top:24px;
  padding-bottom:26px;
}
.p8 strong {
  color:#282828;
}
.text5 {
  color:#b9b9b9;
  font-family:'Open Sans', sans-serif;
  font-size:12px;
  font-weight:bold;
  display:block;
  letter-spacing:1px;
  margin:-3px 0 16px;
  text-transform:uppercase;
  line-height:18px;
}
#residential .link2 {
  color:#6abd16;
  text-transform:uppercase;
  font-weight:bold;
  letter-spacing:1px;
  font-family:'Open Sans', sans-serif;
  font-size:12px;
  text-decoration:underline;
  transition:all 0.4s ease 0s;
}
#commercial .link2 {
  color:#3171A1;
  text-transform:uppercase;
  font-weight:bold;
  letter-spacing:1px;
  font-family:'Open Sans', sans-serif;
  font-size:12px;
  text-decoration:underline;
  transition:all 0.4s ease 0s;
}
.link2:hover {
  color:#b9b9b9;
}
.border-bot {
  border-bottom:1px solid #e3e3e3;
  margin-top:31px;
}
#residential h2 span {
  color:#6abd16;
}
#commercial h2 span {
  color:#3171A1;
}
.text6 {
  font-weight:bold;
  color:#282828;
  display:block;
  margin-bottom:11px;
}
.p10 {
  margin-top:29px;
  padding-bottom:12px;
}
#residential .time1 {
  float:left;
  margin-right:10px;
  color:#6abd16;
  font-size:27px;
  text-align:center;
  line-height:33px;
  font-weight:bold;
  display:block;
  font-family:'Open Sans', sans-serif;
}
#commercial .time1 {
  float:left;
  margin-right:10px;
  color:#3171A1;
  font-size:27px;
  text-align:center;
  line-height:33px;
  font-weight:bold;
  display:block;
  font-family:'Open Sans', sans-serif;
}
.time1 span {
  display:block;
  font-size:16px;
  line-height:20px;
  margin-top:-4px;
}
.link3:hover {
  text-decoration:none;
  color:#b9b9b9;
}
.page1-box1 {
  margin-top:29px;
}
.page1-box1:hover .time1 {
  color:#b9b9b9;
}
/***** Page 2 *****/

.page2-img1 {
  float:left;
  margin:4px 20px 0 0;
  padding:2px;
  border:2px solid #D1D3B4;
  display:block;
}
.page2-box1 {
  padding:30px 0 30px;
  border-bottom:1px solid #e3e3e3;
  color:#333;
}
.p12 {
  margin-top:41px;
}
.text8 {
  background:url("../images/marker2.png") no-repeat scroll 0 14px transparent;
  padding:17px 0 0 23px;
}
.p13 {
  margin-bottom:31px;
}
.page2-img2 {
  float:left;
  margin-right:19px;
  margin-top:4px;
}
.page2-box2 {
  padding-top:31px;
}
.page2-box2 p {
  padding-top:6px;
}
.page3-img1 {
  float:left;
  margin-right:15px;
}
.link4 {
  color:#6ABD16;
  font-family:'Open Sans', sans-serif;
  font-size:18px;
  font-weight:bold;
  letter-spacing:1px;
  text-transform:uppercase;
  transition:all 0.4s ease 0s;
}
.link4:hover {
  color:#b9b9b9;
  text-decoration:none;
}
.p14 {
  padding-top:9px;
}
.page3-box1 {
  margin-top:14px;
}
.thumb {
  padding-top:18px;
}
.p15 {
  padding-top:27px;
  padding-bottom:0;
}
.p16 {
  margin-top:24px;
}
.p17 {
  border:none;
}
.p17 .page2-img1 {
  margin-right:24px;
}
.p17 {
  margin-right:24px;
  padding:4px 0 27px;
}
.page4-img1 {
  float:left;
  margin-right:23px;
  padding-top:5px;
}
.list2 li strong {
  background:url("../images/divider1.png") repeat-x scroll 0 11px transparent;
  display:block;
  overflow:hidden;
}
.list2 li span {
  color:#282828;
  float:right;
  font-weight:bold;
}
.list2 li {
  color:#b7b7b7;
  overflow:hidden;
  margin-bottom:10px;
  vertical-align:top;
  width:100%;
}
.list2 em {
  display:inline-block;
  float:left;
  font-style:normal;
  padding-left:10px;
}
.list2 a {
  color:#6ABD16;
  font-family:'Open Sans', sans-serif;
  font-size:12px;
  font-weight:bold;
  letter-spacing:1px;
  float:left;
  text-transform:uppercase;
  transition:all 0.4s ease 0s;
}
.list2 a:hover {
  color:#b9b9b9;
  text-decoration:none;
}
.p18 {
  margin:32px 0 30px;
}
/***** Page 3 *****/

.map iframe {
  height:351px;
  overflow:hidden;
  width:100%;
}
.map {
  margin:35px 0 25px;
}
.dl1 {
  margin-top:8px;
}
/***** Page 4 *****/

.text9 {
  display:block;
  color:#282828;
}
.link5 {
  font-weight:bold;
}
/***** Page 5 *****/

.dl1 dt {
  width:160px;
  margin-bottom:15px;
  font-weight:bold;
  color:#282828;
  line-height:18px;
}
.dl1 span {
  float:left;
  width:74px;
}
.dl1 dd {
  line-height:18px;
}
.dl1 dd a {
  color:#6abd16;
  font-weight:bold;
}
.dl1 dd a:hover {
  color:#b9b9b9;
  text-decoration:none;
}
/******************** Footer ******************/

footer {
  width:100%;
  padding-bottom: 21px !important;
}
.foot-img {
  float:left;
  margin-right:7px;
  margin-bottom:10px;
}
.foot-page1 {
  color:#b9b9b9;
  text-transform:uppercase;
  font-size:12px;
  letter-spacing:1px;
  line-height:16px;
  padding-top:31px;
  font-family:'Open Sans', sans-serif;
  font-weight:bold;
}
.foot-page1 a {
  color:#b9b9b9;
  transition:all 0.4s ease 0s;
}
.foot-page1 a:hover {
  color:#6abd16;
  text-decoration:none;
}
.border-bot1 {
  border-bottom:1px solid #e3e3e3;
}
#news-form {
  position:relative;
  padding-top:14px;
}
#news-form input {
  background:none;
  border:1px solid #e3e3e3;
  box-shadow:none;
  color:#b7b7b7;
  box-sizing:border-box;
  -moz-box-sizing:border-box;
  -webkit-box-sizing:border-box;
  -o-box-sizing:border-box;
  -ms-box-sizing:border-box;
  font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
  font-size:13px;
  outline:medium none;
  padding:3px 10px 6px;
  margin:0 0 9px;
  width:100%;
}
#news-form label.invalid .error {
  height:19px;
}
#news-form a:hover {
  background-position:0 bottom;
}
#news-form .success {
  background:none repeat scroll 0 0 #FFFFFF;
  border:1px solid #000000;
  color:#333333;
  display:none;
  box-sizing:border-box;
  -moz-box-sizing:border-box;
  -webkit-box-sizing:border-box;
  -o-box-sizing:border-box;
  -ms-box-sizing:border-box;
  left:0;
  padding:4px 0 5px 10px;
  position:absolute;
  top:14px;
  width:100%;
  z-index:10;
}
#news-form .error {
  color:#FF0000;
  display:block;
  font-size:10px;
  height:0;
  position:absolute;
  top:-2px;
  left:0;
  overflow:hidden;
  transition:all 0.3s ease-out 0s;
}
.text7 {
  display:block;
  text-transform:uppercase;
  color:#b7b7b7;
  letter-spacing:1px;
  font-size:24px;
  line-height:29px;
  margin-top:38px;
  font-family:'Open Sans', sans-serif;
  font-weight:bold;
}
.p11 {
  float:right;
}
.foot-page1 .extra-wrap {
  padding-top:20px;
}
.banner1 {
  margin:33px 21px 0 0;
}
.banner2 {
  margin:39px 14px 0 0;
}
.banner3 {
  margin:36px 5px 0 5px;
}
.banner4 {
  margin:16px 23px 0 0px;
}
.banner5 {
  margin:16px 0 0;
}
/******************** Responsive ******************/

@media only screen and (min-width:768px) and (max-width:1024px) {
  body {
    min-width:768px;
  }
  .next1 {
    right:0px;
  }
  .prev1 {
    right:16px;
  }
  .banner3 {
    margin:20px 0 0;
  }
  .banner4 {
    margin:16px 5px 0 0;
  }
  .galleria-info-description > span {
    font-size: 11px !important;
  }
  #leftmenuscroll {
    position: static;
  }
}
@media only screen and (min-width:768px) {
  .recentprojtxt {
    min-height: 140px;
  }
}
@media only screen and (min-width:767px) and (max-width:995px) {
  .rightblockleft {
    margin-right: 6px !important;
  }
}
@media only screen and (max-width:995px) {
  body {
    min-width:768px;
  }
  .camera_caption {
    margin-left:170px;
    top:386px;
    width:74%;
  }
  .dl1 span {
    display:block;
    float:none;
  }
  .page3-box1 .link4 {
    font-size:14px;
  }
  .text1_2 {
    margin-right:0;
  }
  .p6 {
    width:62px;
  }
  .text1 {
    font-size:20px;
  }
  .list2 li strong {
    display:none;
  }
  .righblockright {
    float: left !important;
    margin: 10px 0 0 0 !important;
  }
}
@media only screen and (max-width:767px) {
  body {
    min-width:420px;
  }
  .logo {
    margin:0 auto;
  }
  header h1 {
    padding:31px 0 0 0;
    float:none;
  }
  .text1 {
    text-align:center;
    padding-top:38px;
  }
  .text3 {
    padding-top:31px;
  }
  .inner1 {
    text-align:center;
  }
  .camera_wrap {
    min-height:150px;
  }
  .camera_target_content {
    display:none;
  }
  .list2 li strong {
    display:none;
  }
  .galleria-info-description > span {
    font-size: 10px !important;
  }
  .galleria-info {
    width: 30% !important;
  }
  .text1_2 {
    margin-right:0 !important;
  }
  #leftmenuscroll {
    position: static !important;
  }
}
@media only screen and (min-width:480px) and (max-width:767px) {
  body {
    min-width:420px;
  }
  .dl1 span {
    float:left;
  }
  .floatright {
    float:left;
  }
  .floatleft {
    float:right;
  }
  nav select {
    outline:none;
    display:block !important;
    height:21px;
    line-height:21px;
    padding:0 0 4px;
  }
  .camera_next,
  .camera_prev {
    height:30px;
    top:42%;
    width:30px;
  }
  .soc-links,
  .banner-bg {
    display:none;
  }
  .camera_target_content {
    display:none;
  }
  .p9 {
    margin-left:0 !important;
  }
  .p7 {
    margin-top:36px;
  }
  .text4 {
    margin-top:32px;
  }
  .page2-img1,
  .page4-img1,
  .page2-img2 {
    float:none;
    margin-right:0;
    margin-bottom:16px;
  }
  .p17 .page2-img1 {
    margin-right:0;
  }
  .p17 {
    margin-right:0;
  }
  .list2 li strong {
    display:none;
  }
  .p6 {
    display:none !important;
  }
  .galleria-info-text {
    height: 42px !important;
    padding-top: 18px !important;
    line-height: 13px;
  }
  .galleria-image-nav {
    bottom: 72px !important;
  }
  .righblockright {
    float: left !important;
    margin: 10px 0 0 60px !important;
  }
  .recentproj {
    margin-right: 0 !important;
    margin-top: 1px !important;
    float: none !important;
    display: block !important;
    width: 100% !important;
  }
  #leftmenuscroll {
    position: static !important;
  }
}
@media only screen and (max-width:479px) {
  .inner-block {
    padding:0 10px;
  }
  .galleria-info-text {
    display: none !important;
  }
  .galleria-image-nav {
    bottom: 0 !important;
  }
  body {
    min-width:300px;
  }
  .dl1 span {
    float:left;
  }
  .text4 {
    margin-top:25px;
  }
  .soc-links,
  .banner-bg {
    display:none;
  }
  .camera_wrap {
    min-height:100px;
    margin:22px 0 0 !important;
  }
  .camera_target_content {
    display:none;
  }
  .camera_next,
  .camera_prev {
    height:30px;
    top:42%;
    width:30px;
  }
  .next1 {
    right:9px;
  }
  .prev1 {
    right:25px;
  }
  .p7 {
    margin-top:36px;
  }
  .page2-img1,
  .page4-img1,
  .page2-img2 {
    float:none;
    margin-right:0;
    margin-bottom:16px;
  }
  .p17 .page2-img1 {
    margin-right:0;
  }
  .p17 {
    margin-right:0;
  }
  .list2 li strong {
    display:none;
  }
  .p9 {
    margin-left:0 !important;
  }
  #leftmenuscroll {
    position: static !important;
  }
}
#landing {
  width:1353px;
  margin:0 auto 32px;
  background-color:#eaeaea;
  font-family:'Montserrat', sans-serif;
}
#toplogos {
  width:1353px;
  height:98px;
  background-color:black;
  position:relative;
}
#toplogoscenter {
  background:transparent url(../images/landing/top_logos_bg.jpg) no-repeat left top;
  width:325px;
  height:98px;
  margin:0 auto;
}
#leftright {
  width:1353px;
  height:911px;
}
#landingleft {
  background:transparent url(../images/landing/left_full.jpg) no-repeat left top;
  float:left;
  width:676px;
  height:911px;
  cursor:pointer;
  display:block;
}
#landingleft:hover {
  background:transparent url(../images/landing/left_full.jpg) no-repeat left -911px;
}
#landingright {
  background:transparent url(../images/landing/right_full.jpg) no-repeat left top;
  float:left;
  width:677px;
  height:911px;
  cursor:pointer;
  display:block;
}
#landingright:hover {
  background:transparent url(../images/landing/right_full.jpg) no-repeat left -911px;
}
.landingheader {
  height:190px;
  font-weight:700;
  text-transform:uppercase;
  position:relative;
}
#landingleft .landingheader {
  float:right;
  text-align:right;
  margin:74px 30px 0 0;
}
#landingright .landingheader {
  float:left;
  text-align:left;
  margin:74px 0 0 30px;
}
.landingheader h1 {
  font-size:51px;
  margin:0;
}
.landingheader h3 {
  font-size:21px;
  margin:0;
}
.landingheader .headertxt {
  color:#4b4b4b;
  font-size:12px;
  margin:10px 0 0 0;
}
#gocommercial {
  background:transparent url(../images/landing/gocommercial.png) no-repeat left top;
  width:183px;
  height:38px;
  position:absolute;
  left:0px;
  bottom:-19px;
}
#goresidential {
  background:transparent url(../images/landing/goresidential.png) no-repeat left top;
  width:183px;
  height:38px;
  position:absolute;
  right:0px;
  bottom:-19px;
}
.landing_residential_logo {
  background:transparent url(../images/residential_logo.png) no-repeat left top;
  width:192px;
  height:70px;
  display:block;
}
#landing_residential_logo {
  position:absolute;
  left:455px;
  top:20px;
}
.landing_commercial_logo {
  background:transparent url(../images/commercial_logo.png) no-repeat left top;
  width:196px;
  height:70px;
  display:block;
}
#landing_commercial_logo {
  position:absolute;
  right:452px;
  top:20px;
}
.residential_logo_big {
  background:transparent url(../images/residential_logo_big.png) no-repeat left top;
  width:233px;
  height:85px;
  display:block;
}
.commercial_logo_big {
  background:transparent url(../images/commercial_logo_big.png) no-repeat left top;
  width:238px;
  height:85px;
  display:block;
}
#residential .last2 {
  position:relative;
  padding-bottom:0 !important;
  background:transparent url(../images/residential_top_bg_repeat.jpg) repeat-x left top;
}
#residential #top_bg {
  width:100%;
  height:482px;
  position:absolute;
  background:transparent url(../images/residential_top_bg.jpg) no-repeat center top;
}
#commercial #top_bg {
  width:100%;
  height:482px;
  position:absolute;
  background:transparent url(../images/commercial_top_bg.jpg) no-repeat center top;
}
#commercial .last2 {
  position:relative;
  padding-bottom:0 !important;
  background:transparent url(../images/commercial_top_bg_repeat.jpg) repeat-x left top;
}
#top_logo {
  margin:4px 0 0 24px;
}
.mainmenu {
  list-style:none;
  margin:30px 0 7px 0;
  float:right;
  height:38px;
  padding-top:1px !important;
}
.mainmenu li {
  float:right;
  margin:0;
  font-family:'Montserrat', sans-serif;
  font-size:11px;
  height:24px;
  padding:8px 0;
  cursor:pointer;
}
.mainmenu li a {
  padding:3px 20px;
  height:16px;
  font-weight:700;
  color:white !important;
  float:right;
}
#residential .mainmenu li:hover a, #residential .activemenu a {
  background-color:#616551;
  text-decoration:none;
}
#commercial .mainmenu li:hover a, #commercial .activemenu a {
  background-color:#515D66;
  text-decoration:none;
}
#residential .mainmenu li div {
  background-color:#616551;
  width:2px;
  height:22px;
  float:right;
}
#commercial .mainmenu li div {
  background-color:#515D66;
  width:2px;
  height:22px;
  float:right;
}
.top_email {
  height:60px;
}
#header {
  position:relative;
  height:134px;
}
#splitbtns {
  position:absolute;
  left:390px;
  top:0px;
  width:372px;
  height:98px;
  background:transparent url(../images/splitbtns.png) no-repeat center top;
}
.splitbtn {
  position:absolute;
  width:119px;
  height:26px;
  padding:16px 0 0 0;
  background-color:transparent;
  z-index:2000;
  display:block;
  font-family:'Montserrat', sans-serif;
  font-size:11px;
  font-weight:700;
  color:white;
  text-align:center;
}
.splitbtn:hover, .splitbtn_active {
  background:transparent url(../images/splitbtn.png) no-repeat left top;
  text-decoration:none;
  cursor:default;
}
.splitbtn_notactive {
  cursor:pointer !important;
}
#residentialbtn {
  left:63px;
  top:0px;
}
#commercialbtn {
  right:63px;
  top:0px;
}
#residential .soc-links {
  background:url(../images/residential_top_bg.jpg) repeat scroll -1077px -132px transparent;
  display:block;
  height:133px;
  padding-top:10px;
  position:absolute;
  right:0;
  top:-1px;
  width:70px;
  z-index:999;
  margin:1px 0 0 0;
}
#commercial .soc-links {
  background:url(../images/commercial_top_bg.jpg) repeat scroll -1077px -132px transparent;
  display:block;
  height:103px;
  padding-top:10px;
  position:absolute;
  right:0;
  top:-1px;
  width:70px;
  z-index:999;
  margin:1px 0 0 0;
}
.mainmenu.tablet_portrait,
.top_email.tablet_portrait {
  display:none;
}
@media only screen and (max-width:479px) {
  #splitbtns {
    position:absolute;
    width:300px;
    left:0px;
    height:98px;
    background:transparent url(../images/splitbtns.png) no-repeat center top;
  }
  #residentialbtn {
    left:27px;
    top:0;
  }
  #commercialbtn {
    right:27px;
    top:0;
  }
  .residential_logo_big {
    background:transparent url(../images/residential_logo.png) no-repeat left bottom;
    width:192px;
    height:14px;
    display:block;
    float:none;
  }
  .commercial_logo_big {
    background:transparent url(../images/residential_logo.png) no-repeat left bottom;
    width:192px;
    height:14px;
    display:block;
    float:none;
  }
  #top_logo {
    margin:36px auto 0;
  }
  .mainmenu.mobile_portrait {
    display:inline;
  }
  .fullscreen {
    display:none !important;
  }
  .mainmenu li a {
    float:none;
    font-weight:700;
    height:18px;
    margin:0;
    padding:5px;
    display:inline;
  }
  .camera_wrap {
    margin: 14px 0 0 !important;
    min-height: 100px;
  }
  .mainmenu li {
    line-height:30px;
    float:none;
    display:inline;
  }
  .mainmenu {
    text-align:center;
    margin-top:20px;
    height:50px;
  }
  .soc-links {
    width:100px !important;
    height:22px !important;
    background-color:white !important;
    background-image:none !important;
    right:10px !important;
    padding-top:6px !important;
  }
  .soc-links li {
    float:left !important;
    margin:0 0 0 5px !important;
  }
  #top_bg {
    height:382px !important;
  }
  #header {
    height:159px !important;
  }
  #leftmenuscroll {
    position: static !important;
  }
}
@media only screen and (min-width:480px) and (max-width:767px) {
  #header {
    height:190px;
  }
  #splitbtns {
    left:0;
    top:0;
    width:420px;
    height:98px;
    background:transparent url(../images/splitbtns.png) no-repeat center top;
  }
  .residential_logo_big {
    background:transparent url(../images/residential_logo.png) no-repeat left bottom;
    width:192px;
    height:14px;
    display:block;
    float:none;
  }
  .commercial_logo_big {
    background:transparent url(../images/residential_logo.png) no-repeat left bottom;
    width:192px;
    height:14px;
    display:block;
    float:none;
  }
  #top_logo {
    margin:60px auto 0;
  }
  header h1 {
    padding:0;
  }
  #residentialbtn {
    left:87px;
    top:0;
  }
  #commercialbtn {
    right:87px;
    top:0;
  }
  .top_email.tablet_portrait {
    display:block;
  }
  .top_email .text1 {
    padding:0;
    margin:0;
  }
  .mainmenu {
    float:right;
    height:auto;
    list-style:none outside none;
    padding:4px 0;
    margin:8px 0px;
    text-align:center;
  }
  .mainmenu li {
    float:none;
    height:24px;
    line-height:24px;
    margin:0;
    display:inline;
  }
  .mainmenu.mobile_portrait {
    display:inline;
  }
  .fullscreen {
    display:none !important;
  }
  .mainmenu li a {
    float:none;
    font-weight:700;
    height:18px;
    margin:0;
    padding:4px 4px;
    display:inline;
  }
  /*  #residential .soc-links,
    #commercial .soc-links {
      height:127px;
      background-position:-827px -202px;
    }*/
  .soc-links {
    width:100px !important;
    height:22px !important;
    background-color:white !important;
    background-image:none !important;
    padding-top:6px !important;
  }
  .soc-links li {
    float:left !important;
    margin:0 0 0 5px !important;
  }
  #leftmenuscroll {
    position: static !important;
  }
}
@media only screen and (min-width:768px) and (max-width:995px) {
  #header {
    height:138px;
  }
  .mainmenu li {

  }
  .mainmenu li a {
    float:right;
    height:16px;
    margin:0px 0;
    padding:3px 8px;
  }
  #splitbtns {
    left:140px;
    top:0px;
    width:420px;
    height:98px;
    background:transparent url(../images/splitbtns.png) no-repeat center top;
  }
  #residentialbtn {
    left:87px;
    top:0;
  }
  #commercialbtn {
    right:87px;
    top:0;
  }
  .mainmenu li div {
    float: left !important;
  }
  .top_email.fullscreen {
    display:none;
  }
  .top_email.tablet_portrait {
    display:block;
  }
  #residential .soc-links,
  #commercial .soc-links {
    background-position:-981px -136px;
  }
}
.articleblock {
  margin-left:0 !important;
}
.gallerytitle {
  float:left;
  display:block;
  overflow:hidden;
  color:#282828;
  display:block;
  margin-left:5px;
  margin-top:10px;
}
.gallerypageheader {
  margin-bottom:32px;
}
.gallery_desc {
  font-family: 'Montserrat',sans-serif;
  font-size: 13px;
}
.hometext {
  float:left;
  color:#333;
}
.hometext_header {
  margin:0 0 8px 0;
  font-weight:bold;
}
.page1-img1 {
  float:left;
  padding:2px;
  border:2px solid #D1D3B4;
  display:block;
  margin-right:16px;
  margin-bottom:16px;
}
.page1-img1:hover, .page2-img1:hover {
  border:2px solid #6abd16;
}
.footer {
  text-align:right;
}
.pageheader {
  font-family:'Montserrat', sans-serif;
  text-transform:none;
  font-size:32px;
}
.testimonials {
  color:#333;
}
.testimonial {
  line-height:20px;
  margin:20px 0;
}
div.button span {
  padding:6px 15px 2px 2px !important;
}
#leftmenu {
  text-transform:uppercase;
  font-family:'Montserrat', sans-serif;
  color:#69bd17;
  margin:20px 0;
}
#leftmenu li {
  padding:0 0 0 14px;
  background:transparent url(../images/leftmenu_arrow.png) no-repeat left 3px;
  margin:0 0 8px 0;
  font-size:13px;
  font-weight:bold;
  line-height:13px;
}
.leftmenu-header {
  font-family:'Montserrat', sans-serif;
  letter-spacing:0;
  margin-top:4px;
}
.services img {
  width: auto !important;
}
.services > div {
  margin-bottom: 16px;
}
.rightblock {
  float:right !important;
  /*margin-right:0 !important;*/
}
.rightblock-header {
  font-family:'Montserrat', sans-serif;
  font-weight:bold;
  font-size:30px;
  margin-top:0;
  margin-bottom:28px;
  letter-spacing:0;
}
.rightblock-subheader {
  font-family:'Montserrat', sans-serif;
  font-weight:bold;
  font-size:22px;
  margin-top:4px;
  margin-bottom:18px;
  letter-spacing:0;
}
/*.rightblock > * {
  margin-left:6px !important;
}*/

.righblockright {
  width:300px;
  float:right;
}
.rightblocksmallimg {
  display:block;
  margin:4px 0 6px 0;
  float: right;
}
#residential .rightblocksmallimg {
  float: none !important;
}
.rightblocksmallimg img {
  border:none !important;
  padding:0 !important;
}
.rightblocksmalltxt {
  font-size:10px;
  font-family:Arial, sans-serif;
  line-height:13px;
  margin-bottom:22px;
}
.rightblockleft {
  font-size:13px;
  font-family:'Montserrat', sans-serif;
}
.aboutblock {
  margin-bottom: 24px;
}
.abouteamtitle {
  float: left;

}
.hr {
  border-top:1px solid #aaaaaa;
  margin:36px 0 36px 5px;
}
.testimonials .hr,
.gallery .hr {
  margin:20px 0 20px 5px !important;
}
.leftblock {
  font-family:'Montserrat', sans-serif;
  color:#69bd17;
  margin:18px 0 0 0;
  float:left;
}
.recentproj {
  margin:0 36px 18px 0;
  float:left;
  display:inline;
  width:210px;
  position: relative;
}
.recentprojlink {
  display:block;
}
.recentproj a.recentprojtitle {
  color: #555 !important;
  font-family:'Montserrat', sans-serif;
  font-size: 12px;
  font-weight: bold;
  display: block;
  margin:0 0 4px 0;
}
.recentproj a img {
  width:210px;
  margin-bottom:18px;
}
.rigthblockswrap {
  float:right;
}
.recentprojtxt {
  font-family:'Montserrat', sans-serif;
  font-size:12px;
  line-height:14px;
}
.recentprojtxt a {
  text-decoration:underline !important;
  color:#6ABD16;
}
.newsevent {
  float:left;
  margin-bottom:20px;
}
.newseventdate {
  color:#6ABD16;
  font-size:13px;
  line-height:13px;
  font-weight:bold;
  text-transform:uppercase;
}
.newseventheader {
  color:#555;
  text-transform:uppercase;
  line-height:20px;
  margin:0px 0 5px 0;
  font-size: 16px;
}
.newseventtxt {
  font-size:12px;
  line-height:14px;
  color:#555;
}
.newseventtxt a {
  text-decoration:underline !important;
}
.testimonials .recentprojtxt {
  height:50px;
}
.testimonialtxt {
  font-family:'Montserrat', sans-serif;
  font-size:13px;
}
.testimonialtxt > div {
  margin:0 8px 14px 0;
}
.testimonial-subheader {
  font-family:'Montserrat', sans-serif;
  font-size:14px;
  font-weight:bold;
  margin:0 0 6px 0;
}
.rightblockinner {
  margin-right:0 !important;
}
/* totop start */

#toTop {
  display:block;
  text-decoration:none;
  position:fixed;
  left:50%;
  margin-left:502px;
  bottom:53px;
  cursor:pointer;
  overflow:hidden;
  width:43px;
  height:23px;
  border:none;
  text-indent:-999px;
  z-index:20;
  background:url(../images/ui.totop.png) no-repeat left 0px;
}
#residential #toTop:hover {
  background:url(../images/ui.totop.png) no-repeat left -23px;
  width:43px;
  height:23px;
  display:block;
  overflow:hidden;
  float:left;
}
#commercial #toTop:hover {
  background:url(../images/ui.totop.png) no-repeat left -46px;
  width:43px;
  height:23px;
  display:block;
  overflow:hidden;
  float:left;
}
#toTop:active, #toTop:focus {
  outline:none;
}
/* totop end */

.posrel {
  position:relative;
}
.gallery_paths {
  margin-bottom:60px;
}
#leftmenuscroll {
  position: fixed;
}
#bbb {
  float: left;
  width: 94px;
  height: 35px;
}
#bbb img {
  float: left;
}
.maverickdark {
  width: 91px;
  height: 11px;
  background: transparent url(../images/maverick.png) no-repeat left top;
  display: inline-block;
  margin: 2px 0 0 0;
}
.mavericklight {
  width: 91px;
  height: 11px;
  background: transparent url(../images/maverick.png) no-repeat left -12px;
  display: inline-block;
  margin: 2px 0 0 0;
}
.footerline {
  line-height: 18px;
  font-size: 12px;
  float: right !important;
}
.toright {
  float: right !important;
}
