/*** MENU ***/
.sf-menu, .sf-menu * {
	margin:			0;
	padding:		0;
	list-style:		none;
}
.sf-menu {
	line-height:	1.0;
}

nav {
	padding-top:54px;
}
.sf-menu li {
	position:		relative;
	display:block;
	margin-bottom:5px;
}
.sf-menu a {
	display:inline-block;
	color:#282828;
	font-weight:bold;
	letter-spacing:1px;
	font-size:12px;
	transition: all 0.4s ease 0s;
	text-transform:uppercase;
	line-height:15px;
	font-family: 'Open Sans', sans-serif;
	position:		relative;
}

.sf-menu a:hover,
.sf-menu li.current-menu-item>a,
.sf-menu li.sfHover>a {
	color:#babbbb;
	text-decoration:none;
}

.sf-menu ul {
	position:		absolute;
	top:			-999em;
	background: #fff;
	padding-left: 15px;
	width:			193px; /* left offset of submenus need to match (see below) */
}
.sf-menu ul li {
	width:			100%;
}
.sf-menu ul a {
	
}
.sf-menu li:hover {
	visibility:		inherit; /* fixes IE7 'sticky bug' */
}

.sf-menu li:hover ul,
.sf-menu li.sfHover ul {
	left: 102px;
    top: 0; /* match top ul list item height */
	z-index:		99;
}
ul.sf-menu li:hover li ul,
ul.sf-menu li.sfHover li ul {
	top:			-999em;
}
ul.sf-menu li li:hover ul,
ul.sf-menu li li.sfHover ul {
	left:			178px; /* match ul width */
	top:			0;
}
ul.sf-menu li li:hover li ul,
ul.sf-menu li li.sfHover li ul {
	top:			-999em;
}
ul.sf-menu li li li:hover ul,
ul.sf-menu li li li.sfHover ul {
	left:			10em; /* match ul width */
	top:			0;
}

.sf-menu li.menu-item-has-children:after {
    background: url("../images/indicator.png") no-repeat scroll 0 0 transparent;
    content: "";
    display: block;
    height: 4px;
    right: 59%;
    margin-top: -1px;
    position: absolute;
    top: 39%;
    width: 5px;
}


.sf-menu ul li.menu-item-has-children:after {
    right: 13px;
    top: 5px;
}


/* Design for a width of 768px */
@media only screen and (max-width: 995px) {

	
}




@media only screen and (max-width: 767px) {


nav select {
    display: block !important;
    height: 21px;
    line-height: 21px;
	border:1px solid #000;
    outline: medium none;
    padding: 0;
    width: 100%;
}

nav span,
.sf-menu{display:none}

}
@media only screen and (min-width: 480px) and (max-width: 767px) {	
nav span,
.sf-menu{display:none}
 
}