
<div id="header">
    <article class="grid_6">
        <div class="inner-block"><h1><a class="residential_logo_big" id="top_logo" href="{{ url('residential') }}">Infinity Gardens</a></h1></div>
    </article>
    <article class="grid_6 prefix_12 top_email fullscreen">
        <div class="inner-block">
            <span class="text1">1 403 401-0375</span>
            <div class="inner1">
                <span class="text2">E -mail:</span>
                <a class="link1" href="mailto:info@infinitygardens.ca" target="_top">info@infinitygardens.ca</a>
            </div>
        </div>
        <div class="clear"></div>
    </article>
    <article class="grid_8 prefix_10 top_email tablet_portrait">
        <div class="inner-block">
            <span class="text1">1 403 401-0375</span>
            <div class="inner1">
                <span class="text2">E -mail:</span>
                <a class="link1" href="mailto:info@infinitygardens.ca" target="_top">info@infinitygardens.ca</a>
            </div>
        </div>
        <div class="clear"></div>
    </article>
    <ul class="grid_17 mainmenu fullscreen">
        <li class="{% if app.request.getUri() == url('residential_contact') %}activemenu{% endif %}"><a href="{{ url('residential_contact') }}">CONTACT</a><div></div></li>
        <li class=""><a href="/blog">BLOG</a><div></div></li>
        <li class="{% if app.request.getUri() == url('residential_services') %}activemenu{% endif %}"><a href="{{ url('residential_services') }}">SERVICES</a><div></div></li>
        <li class="{% if app.request.getUri() == url('residential_testimonial') %}activemenu{% endif %}"><a href="{{ url('residential_testimonial') }}">TESTIMONIAL</a><div></div></li>
        <li class="{% if app.request.getUri() == url('residential_gallery') %}activemenu{% endif %}"><a href="{{ url('residential_gallery') }}">GALLERY</a><div></div></li>
        <li class="{% if app.request.getUri() == url('residential_about') %}activemenu{% endif %}"><a href="{{ url('residential_about') }}">ABOUT US</a><div></div></li>
        <li class="{% if app.request.getUri() == url('residential') %}activemenu{% endif %}"><a href="{{ url('residential') }}">HOME</a></li>
    </ul>
    <ul class="grid_15 mainmenu mobile_portrait tablet_portrait">
        <li class="{% if app.request.getUri() == url('residential') %}activemenu{% endif %}"><a href="{{ url('residential') }}">HOME</a></li>
        <li class="{% if app.request.getUri() == url('residential_about') %}activemenu{% endif %}"><a href="{{ url('residential_about') }}">ABOUT US</a></li>
        <li class="{% if app.request.getUri() == url('residential_gallery') %}activemenu{% endif %}"><a href="{{ url('residential_gallery') }}">GALLERY</a></li>
        <li class="{% if app.request.getUri() == url('residential_testimonial') %}activemenu{% endif %}"><a href="{{ url('residential_testimonial') }}">TESTIMONIAL</a></li>
        <li class="{% if app.request.getUri() == url('residential_services') %}activemenu{% endif %}"><a href="{{ url('residential_services') }}">SERVICES</a></li>
        <li class=""><a href="/blog">BLOG</a></li>
        <li class="{% if app.request.getUri() == url('residential_contact') %}activemenu{% endif %}"><a href="{{ url('residential_contact') }}">CONTACT</a></li>
    </ul>
    <div class="clear"></div>
</div>
