<ul>
    <li><a href="{{ url('residential_services') }}#custom-estimates">Custom Estimates</a></li>
    <li><a href="{{ url('residential_services') }}#professional-designs">Professional Designs</a></li>
    <li><a href="{{ url('residential_services') }}#retaining-wall">Retaining Walls</a></li>
    <li><a href="{{ url('residential_services') }}#deck-sheds-fences">Deck, Sheds and Fences</a></li>
    <li><a href="{{ url('residential_services') }}#patios">Patios</a></li>
    <li><a href="{{ url('residential_services') }}#irrigation">Irrigation</a></li>
    <li><a href="{{ url('residential_services') }}#outdoor-kitchens">Outdoor Kitchens</a></li>
    <li><a href="{{ url('residential_services') }}#outdoor-fireplaces">Outdoor Fireplaces</a></li>
    <li><a href="{{ url('residential_services') }}#yard-makeovers">Yard Make-Overs</a></li>
    <li><a href="{{ url('commercial') }}">Commercial</a></li>
</ul>