<div class="newsevent">
    <div class="newseventdate">march 5, 2014</div>
    <h4 class="newseventheader">new website!</h4>
    <div class="newseventtxt">
        <span>We are happy to announce the launching of our new website. On our new site  you will find updated gallery photos, a glimpse into our commercial work and be sure to check out our blog page!</span>
    </div>
</div>
<div class="newsevent">
    <div class="newseventdate">march 5, 2014</div>
    <h4 class="newseventheader">spring is coming!</h4>
    <div class="newseventtxt">
        <span>For our commercial clients we offer a great spring cleanup package that will have your property ready for the growing season. Things that are included are power raking, pruning, cleaning up the rock salt in the beds from the winter season, edging and cultivating. A good spring cleanup ensures your property will be looking prime for the summer.</span>
    </div>
</div>