<article class="grid_24 slider">
    <div class="inner-block posrel">
        <ul class="soc-links">
            <li><a class="soc-link1" href="#"></a></li>
            <li><a class="soc-link2" href="#"></a></li>
            <li><a class="soc-link3" href="#"></a></li>
        </ul>               
        <div class="camera_wrap camera_azure_skin" id="camera">        
            <div data-src="/web/images/slide-1.jpg">
                <div class="camera_caption fadeIn banner-bg">
                    <span class="text1_1">project: <br />summer garden</span>
                    <span class="text1_1">CLIENT:<br />Swanson Studio<br />UK, glasgow</span>
                    <span class="text1_2 p6">area:<br />7 ha</span>
                    <span class="text1_2">3 ponds, <br />1 fountain,<br />garden sculptures</span>
                </div>
            </div>
            <div data-src="/web/images/slide-2.jpg">
                <div class="camera_caption fadeIn banner-bg">
                    <span class="text1_1">project: <br />autumn garden</span>
                    <span class="text1_1">CLIENT:<br />Swanson Studio<br />UK, Oxford</span>
                    <span class="text1_2 p6">area:<br />14 ha</span>
                    <span class="text1_2">5 ponds, <br />2 fountain,<br />garden sculptures</span>
                </div>
            </div>
            <div data-src="/web/images/slide-3.jpg">
                <div class="camera_caption fadeIn banner-bg">
                    <span class="text1_1">project: <br />summer garden</span>
                    <span class="text1_1">CLIENT:<br />Swanson Studio<br />UK, London</span>
                    <span class="text1_2 p6">area:<br />5 ha</span>
                    <span class="text1_2">3 ponds, <br />3 fountain,<br />garden sculptures</span>
                </div>
            </div>            
        </div>
    </div> 
</article>