<article class="grid_24 slider">
    <div class="inner-block posrel">
        <ul class="soc-links">
            <li><a class="soc-link1" href="#" target="_blank"></a></li>
            <li><a class="soc-link2" href="#" target="_blank"></a></li>
            <li><a class="soc-link3" href="#" target="_blank"></a></li>
            <li><a class="soc-link4" href="http://www.houzz.com/Infinitygardens" target="_blank"></a></li>
        </ul>               
        <div class="camera_wrap camera_azure_skin" id="camera">        
            <div data-src="/web/content/slider/homepage1.jpg">
                <a href="{{ url('residential_gallery') }}#number1" class="text1_1">project: <br />Arbour Lake</a>
            </div>
            <div data-src="/web/content/slider/homepage2.jpg">
                <a href="{{ url('residential_gallery') }}#number2" class="text1_1">project: <br />Sage Hill</a>
            </div>
            
            <div data-src="/web/content/slider/homepage7.jpg">
                <a href="{{ url('residential_gallery') }}#number2" class="text1_1">project: <br />Sage Hill: Fire and Water</a>
            </div>
            <div data-src="/web/content/slider/homepage8.jpg">
                <a href="{{ url('residential_gallery') }}#number2" class="text1_1">project: <br />Sage Hill: Fire and Water</a>
            </div>
            
            <div data-src="/web/content/slider/homepage3.jpg">
                <a href="{{ url('residential_gallery') }}#number3" class="text1_1">project: <br />Strathcona</a>
            </div>
            <div data-src="/web/content/slider/homepage4.jpg">
                <a href="{{ url('residential_gallery') }}#number4" class="text1_1">project: <br />Cougaridge</a>
            </div>
            <div data-src="/web/content/slider/homepage5.jpg">
                <a href="{{ url('residential_gallery') }}#number5" class="text1_1">project: <br />Malibu Road</a>
            </div>
            <div data-src="/web/content/slider/homepage6.jpg">
                <a href="{{ url('residential_gallery') }}#number6" class="text1_1">project: <br />Sage Hill Daytime</a>
            </div>
        </div>
    </div> 
</article>