{% extends "residential/base.twig" %}

{% block title %}<title>Infinity Gardens - Calgary Landscaping - About Us</title>{% endblock %}
{% block topbg %}{% endblock %}
{% block content %}
    <!--==============================content================================-->
    <section id="content">
        <div class="container_24">
            <div class="grid_6">
                <h3 class="leftmenu-header">OUR SERVICES</h3>
                <div id="leftmenu">
                    {% include 'residential/parts/left_menu.html.twig' %}
                </div>
            </div>
            <div class="grid_18 rightblock">
                <h1 class="rightblock-header">About Us</h1>
                <h1 class="rightblock-subheader">WE LOVE THE WORK WE DO:</h1>
                <div class="grid_10 alpha omega rightblockleft">When there is a certain care and attention to detail, you can be sure that there is a love for the trade. Stan and his team not only love the work they do, they love to see how it affects the people they do it for. Nothing is more satisfying than watching the reaction of the homeowners to their new space. “It’s about family and making memories” says Stan. Stan, himself is a family man and believes that making time for your family is important. “When you have crazy schedules sometimes just a peaceful dinner in your beautiful backyard is the best quality time you can have, and your children will remember those times”.</div>
                <div class="righblockright">
                    <div>
                        <a class="rightblocksmallimg"><img src="/web/images/aboutus.jpg" alt=""></a>
                        <div class="rightblocksmalltxt"></div>
                    </div>
                </div>
            </div>

            <div class="grid_24 hr"></div>

            <div class="grid_18 rightblock abouteam">
                <h1 class="rightblock-subheader abouteamtitle">ABOUT THE COMPANY</h1>
                <div class="grid_18 alpha omega rightblockleft aboutblock">
                    <div class="grid_9 alpha omega suffix_1">Stanley Rector began into this trade knowing there was a great need for reliable, quality work that people could trust. He started our company in residential landscaping construction where we have won awards and even been featured in Home Renovations Magazine.  We have been in business for 5 years and in the last 3 years, have branched off into commercial maintenance and snow removal.<br><br>
                    We are dedicated to quality and customer satisfaction which clearly shows in our work and is proven by how many jobs we get from word of mouth. Our customers like to work with us because we are friendly and will always take a moment to make sure all of their needs are met. Our foremen have 15+ years of experience in the business. We are insured for 2 million dollars liability, we’re bonded and have WCB coverage.
                    </div>
                    <div class="righblockright">
                        <div>
                            <a class="rightblocksmallimg"><img alt="" src="/web/images/logo_white.jpg"></a>
                            <div class="rightblocksmalltxt"></div>
                        </div>
                    </div>
                </div>
                <h1 class="rightblock-subheader abouteamtitle" style="margin-top:24px;">OUR TEAM</h1>
                <div class="grid_18 alpha omega rightblockleft aboutblock">
                    <div class="grid_9 alpha omega suffix_1"><b>Stanley Rector</b>, the founder, is a young entrepreneur with a passion for landscaping. Stanley has experience in many of the trades and is a skilled and certified bobcat operator. He monitors his sites to be sure that every project is completed with precision and discretion.
                    </div>
                    <div class="righblockright">
                        <div>
                            <a class="rightblocksmallimg"></a>
                            <div class="rightblocksmalltxt"></div>
                        </div>
                    </div>
                </div>
                <div class="grid_18 alpha omega rightblockleft aboutblock">
                    <div class="grid_9 alpha omega suffix_1"><b>Charles Kelloway</b> has been in the trade for 15 years. Charles work ethic and friendly personality makes working with clients a breeze. As our head foreman, he works diligently to ensure your project is mastered and built to last. Every step is taken to produce a quality construction project in a timely manner.
                    </div>
                    <div class="righblockright">
                        <div>
                            <a class="rightblocksmallimg"></a>
                            <div class="rightblocksmalltxt"></div>
                        </div>
                    </div>
                </div>
                <div class="grid_18 alpha omega rightblockleft aboutblock">
                    <div class="grid_9 alpha omega suffix_1"><b>Pablo Jiminez</b> designs masterpieces for your backyard dreams. As a well-educated Architect & Engineer, he will be sure your design fits your yard, your tastes and will be perfectly unique. We believe that every individual deserves a yard that is as individual as they are, and Pablo will personally meet with you to be sure that happens.
                    </div>
                    <div class="righblockright">
                        <div>
                            <a class="rightblocksmallimg"></a>
                            <div class="rightblocksmalltxt"></div>
                        </div>
                    </div>
                </div>
                <div class="grid_18 alpha omega rightblockleft aboutblock">
                    <div class="grid_9 alpha omega suffix_1"><b>Pedro Paradas</b> has an eye for perfection when it comes to your landscape summer maintenance. From creating a greener lawns, to cultivating your beds, he and his team will make sure nothing is forgotten and your business will look inviting!
                    </div>
                    <div class="righblockright">
                        <div>
                            <a class="rightblocksmallimg"></a>
                            <div class="rightblocksmalltxt"></div>
                        </div>
                    </div>
                </div>
		<div class="grid_18 alpha omega rightblockleft aboutblock">
                    <div class="grid_9 alpha omega suffix_1"><b>Nigel Robertson</b> is our softscape specialist along with many other skills. He will make sure the finishing touches of your yard are beautifully placed and properly planted.
                    </div>
                    <div class="righblockright">
                        <div>
                            <a class="rightblocksmallimg"></a>
                            <div class="rightblocksmalltxt"></div>
                        </div>
                    </div>
                </div>
		<div class="grid_18 alpha omega rightblockleft aboutblock">
                    <div class="grid_9 alpha omega suffix_1"><b>Erin Rector</b> is a trained estimator and skilled in customer relations. Taking care of our commercial maintenance division, Erin will always be available to call and will have any matters taken care of immediately. She was trained by an experienced horticulturist to fill in her team if needed and her meticulous nature ensures your property will look its best!
                    </div>
                    <div class="righblockright">
                        <div>
                            <a class="rightblocksmallimg"></a>
                            <div class="rightblocksmalltxt"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <script>
        $(document).ready(function() {

        });
    </script>
{% endblock %}
