<!DOCTYPE html>
<html>
    <head>
        {% block title %}<title>Home</title>{% endblock %}
        {% block head %}
        <meta charset="utf-8">
        <meta name="format-detection" content="telephone=no" >
        <meta name="description" content="Your description">
        <meta name="keywords" content="Your keywords">
        <meta name="author" content="Your name">
        <link rel="icon" href="images/favicon.ico" type="image/x-icon">    
        <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon" />
        <!--link href='http://fonts.googleapis.com/css?family=Medula+One' rel='stylesheet' type='text/css'-->
        <link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
        <!--link rel="stylesheet" href="/web/css/camera-slider.css"-->
        <!--link rel="stylesheet" href="/web/css/carousel.css"-->
        <link rel="stylesheet" href="/web/css/reset.css">
        <link rel="stylesheet" href="/web/css/skeleton.css">
        <link rel="stylesheet" href="/web/css/forms.css">
        <link rel="stylesheet" href="/web/css/style.css">
        <script src="/web/js/jquery-1.11.0.min.js"></script>
        <script src="/web/js/superfish.js"></script>
        <script src="/web/js/jquery.hoverIntent.minified.js"></script>
        <script src="/web/js/jquery.easing.1.3.js"></script>
        <!--script src="/web/js/jquery.mobilemenu.js"></script-->
        <!--script src="/web/js/camera.js"></script-->
        <!--[if (gt IE 9)|!(IE)]><!-->
        <!--script src="/web/js/jquery.mobile.customized.min.js"></script-->
        <!--<![endif]-->
        <!--script src="/web/js/jquery.carouFredSel-6.1.0-packed.js"></script-->
        <script src="/web/js/jquery.touchSwipe.min.js" type="text/javascript"></script>
        <script src="/web/js/script.js"></script>

        <!--link href="/web/js/fancyapps-fancyBox-18d1712/source/jquery.fancybox.css" rel="stylesheet">
        <script src="/web/js/fancyapps-fancyBox-18d1712/source/jquery.fancybox.js"></script-->
        <!--[if lt IE 8]>
           <div style=' clear: both; text-align:center; position: relative;'>
             <a href="http://windows.microsoft.com/en-US/internet-explorer/products/ie/home?ocid=ie6_countdown_bannercode">
               <img src="http://storage.ie6countdown.com/assets/100/images/banners/warning_bar_0000_us.jpg" border="0" height="42" width="820" alt="You are using an outdated browser. For a faster, safer browsing experience, upgrade for free today." />
            </a>
          </div>
        <![endif]-->
        <!--[if lt IE 9]>
            <script src="js/html5.js"></script>
            <link rel="stylesheet" href="css/ie.css"> 
        <![endif]-->

        {% endblock %}
    </head>
    <body id="residential">
        {% block header %}
        <header class="last2">
            {% block topbg %}<div id="top_bg"></div>{% endblock %}
            <div class="container_24">
                <div id="splitbtns">
                    <div id="residentialbtn" class="splitbtn splitbtn_active">RESIDENTIAL</div>
                    <a href="/commercial" id="commercialbtn" class="splitbtn splitbtn_notactive">COMMERCIAL</a>
                </div>
            {% include 'residential/parts/header.twig' %}
            {% block slider %}{% endblock %}
            </div>
            <div class="clear"></div>
        </header>
        {% endblock %}
        {% block content %}

        {% endblock %}
        {% block footer %}
            {% include 'residential/parts/footer.twig' %}
        {% endblock %}
        <a href="#" id="toTop"></a>
    </body>
</html>
