{% extends "residential/base.twig" %}

{% block title %}<title>Infinity Gardens - Calgary Landscaping - Project Galleries</title>{% endblock %}
{% block head %}
    {{ parent() }}
{% block topbg %}{% endblock %}
<link rel="stylesheet" href="/web/css/galleria/gallery/gallery.css" media="screen" />
<script src="/web/js/galleria/galleria-1.3.5.min.js"></script>
{% endblock %}
{% block content %}
    <!--==============================content================================-->
    <section id="content">
        <div class="container_24 gallery">
            <div class="grid_6" id="leftmenuscroll">
                <h3 class="leftmenu-header">OUR SERVICES</h3>
                <div id="leftmenu">
                    {% include 'residential/parts/left_menu.html.twig' %}
                </div>
            </div>
            <div class="grid_18 rightblock">
                <h1 class="rightblock-header">Project Gallery</h1>
                <h1 class="rightblock-subheader">OUR FEATURED PROJECT</h1>
                <img src="/web/content/featured.jpg" alt="Our Featured Project" style="float:left;margin:0 0 12px 0;" />
                <div class="grid_18 alpha omega rightblockleft">This project is a prime example of taking your indoor living space outdoors. From cozying up to a beautiful fireplace to relaxing in the privacy of your new backyard. You are living in a small paradise with the sound of a serene waterfall drowning out the sound of construction close by.</div>

                <div class="grid_18 hr"></div>

                <div class="grid_18 rightblock rightblockinner">

                    <h1 class="rightblock-subheader">MOST RECENT PROJECTS</h1>
                    {% set num = 1 %}
                    {% for g in galleries  %}
                        <div class="grid_19 alpha" id="number{{ num }}">
                            <div class="grid_18 alpha omega">
                                <div class="testimonial-subheader">{{ g.titles_array.0 }} {% if g.titles_array.1 %}: {{ g.titles_array.1 }}{% endif %}</div>
                            </div>
                            <div class="grid_18 alpha omega testimonialtxt">
                                <div></div>
                            </div>
                            <div class="gallery_paths grid_18 alpha omega">
                                {% for i in g.images  %}
                                    <div data-src="{{ g.base ~ '/' ~ i }}"></div>
                                {% endfor  %}
                            </div>
                            <div class="gallery_desc grid_18 alpha omega">
                              {{ g.description }}
                            </div>
                        </div>
                        <div class="grid_18 hr"></div>
                        {% set num = num+1 %}
                    {% endfor  %}

                </div>
            </div>
        </div>
    </section>
    <script>
        $(document).ready(function() {
            Galleria.loadTheme('/web/css/galleria/gallery/gallery.js');
            Galleria.run('.gallery_paths', {
                transition: 'fade',
                height: 0.665,
                //autoplay: 7000,
                showCounter: false,
                thumbnails: true,
                idleMode: false,
                dataSelector: 'div',
                dataConfig: function(div) {
                    return {
                        image: div.attr('data-src'),
                        thumb: div.attr('data-src'),
                        title: '',
                        description: ''
                    };
                }
            });
        });
    </script>
{% endblock %}
