{% extends "residential/base.twig" %}

{% block title %}<title>Infinity Gardens - Calgary Landscaping</title>{% endblock %}
{% block head  %}
    {{ parent() }}

<link rel="stylesheet" href="/web/css/galleria/infinitygardens/style.css" media="screen" />
<script src="/web/js/galleria/galleria-1.3.5.min.js"></script>
{% endblock  %}
{% block slider %}
    {% include 'residential/parts/slider1.twig' %}
{% endblock %}
{% block content %}
    <!--==============================content================================-->
    <section id="content">
        <div class="container_24">
            <div class="grid_6">
                <h3 class="leftmenu-header">OUR SERVICES</h3>
                <div id="leftmenu">
                    {% include 'residential/parts/left_menu.html.twig' %}
                </div>
            </div>
            <div class="grid_18 rightblock">
                <h1 class="rightblock-header">For moments that last forever.</h1>
                <h1 class="rightblock-subheader">Each moment allows you to indulge your senses.</h1>
                <div class="grid_10 alpha omega rightblockleft">Infinity Gardens - Landscaping and Design is one of Calgary’s premier landscaping companies, with new modern ideas to create an outdoor living space that fits perfectly for you and your family. Each individual who works with us has a specialty, your carpentry work will be done by a professional carpenter, your masonry work will be done by a red journeyman masoner, your irrigation done by someone who specializes in irrigation! No more “one man does it all”. (yikes!) Teamed up with one of Calgary’s top landscape designers, Infinity Gardens takes pride in perfection and will not leave your home until you are completely satisfied.<br><br>Whether you prefer an extravagent outdoor fireplace with high quality stone patios, custom pond work with soothing waterfalls, a mediterranean back yard, or an exotic tea house with Asiatic Themes, Like a commissioned piece of art, Infinity Gardens will take the time to customize every detail of your masterpiece.<br><br>We are a unique company that is professional and friendly; truly a company you will enjoy working with. Infinity Gardens - Landscaping and Design - for moments that last forever.</div>
                <div class="righblockright">
                    <div>
                        <a class="rightblocksmallimg"><img src="/web/content/rightblockhome1.jpg" alt=""></a>
                        <div class="rightblocksmalltxt"></div>
                    </div>
                    <div>
                        <a class="rightblocksmallimg"><img src="/web/content/rightblockhome2.jpg" alt=""></a>
                        <div class="rightblocksmalltxt"></div>
                    </div>
                </div>
            </div>
            <div class="grid_24 hr"></div>
            <div class="grid_6">
                <h3 class="leftmenu-header">NEWS & EVENTS</h3>
                <div class="leftblock">
                    {% include 'residential/parts/news_events.html.twig' %}
                </div>
            </div>
            <div class="grid_18 rightblock">
                <div class="grid_19 alpha">
                    <h1 class="rightblock-subheader">RECENT PROJECTS</h1>
                    <div class="recentproj">
                        <a class="recentprojtitle" href="{{ url('residential_gallery') }}#number1">Arbour Lake</a>
                        <a class="recentprojlink" href="{{ url('residential_gallery') }}#number1">
                            <img src="/web/content/recent_projects/recentproj1.jpg" alt="" />
                        </a>
                        <div class="recentprojtxt">
                            <span>This project was a lot of fun to create. The customer was very imaginative and put a lot of his ideas into the design of the yard. This yard really is like having a vacation in your backyard. From the white sandy beach, to the giant chess board, to the mini golf. . .  You don’t have to go too far to find a retreat.</span>
                            <a href="{{ url('residential_gallery') }}#number1">View&nbsp;Full&nbsp;Gallery</a>
                        </div>
                    </div>
                    <div class="recentproj">
                        <a class="recentprojtitle" href="{{ url('residential_gallery') }}#number2">Sage Hill</a>
                        <a class="recentprojlink" href="{{ url('residential_gallery') }}#number2">
                            <img src="/web/content/recent_projects/recentproj2.jpg" alt="" />
                        </a>
                        <div class="recentprojtxt">
                            <span>This project is a prime example of taking your indoor living space outdoors. From cozying up to a beautiful fireplace to relaxing in the privacy of your new backyard. You are living in a small paradise with the sound of a serene waterfall drowning out the sound of construction close by.</span>
                            <a href="{{ url('residential_gallery') }}#number2">View&nbsp;Full&nbsp;Gallery</a>
                        </div>
                    </div>
                    <div class="recentproj">
                        <a class="recentprojtitle" href="{{ url('residential_gallery') }}#number3">Strathcona</a>
                        <a class="recentprojlink" href="{{ url('residential_gallery') }}#number3">
                            <img src="/web/content/recent_projects/recentproj3.jpg" alt="" />
                        </a>
                        <div class="recentprojtxt">
                            <span>This backyard renovation has a quaint country style outdoor living space in the corner of their backyard. Sipping wine and entertaining friends and family in the privacy of their </span>
                            <a href="{{ url('residential_gallery') }}#number3">View&nbsp;Full&nbsp;Gallery</a>
                        </div>
                    </div>
                    <div class="recentproj">
                        <a class="recentprojtitle" href="{{ url('residential_gallery') }}#number4">Cougaridge</a>
                        <a class="recentprojlink" href="{{ url('residential_gallery') }}#number4">
                            <img src="/web/content/recent_projects/recentproj4.jpg" alt="" />
                        </a>
                        <div class="recentprojtxt">
                            <span>Enjoy a cozy fire in your backyard any month of the year and take in natures beauty. Perfect for cozying up, sippng wine and feeling like the city is far away. </span>
                            <a href="{{ url('residential_gallery') }}#number4">View&nbsp;Full&nbsp;Gallery</a>
                        </div>
                    </div>
                    <div class="recentproj">
                        <a class="recentprojtitle" href="{{ url('residential_gallery') }}#number5">Malibu Road</a>
                        <a class="recentprojlink" href="{{ url('residential_gallery') }}#number5">
                            <img src="/web/content/recent_projects/recentproj5.jpg" alt="" />
                        </a>
                        <div class="recentprojtxt">
                            <span>This is a perfect example of taking your living room outside. A simple renovation can create the most treasured memories.</span>
                            <a href="{{ url('residential_gallery') }}#number5">View&nbsp;Full&nbsp;Gallery</a>
                        </div>
                    </div>
                    <div class="recentproj">
                        <a class="recentprojtitle" href="{{ url('residential_gallery') }}#number6">Sage Hill Daytime</a>
                        <a class="recentprojlink" href="{{ url('residential_gallery') }}#number6">
                            <img src="/web/content/recent_projects/recentproj6.jpg" alt="" />
                        </a>
                        <div class="recentprojtxt">
                            <span>A raised dining area , then stepping into a sunken living room. This backyard is a great way to add an extra 600ft to the size of your home. Anything is possible with even the smallest of backyards.</span>
                            <a href="{{ url('residential_gallery') }}#number6">View&nbsp;Full&nbsp;Gallery</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="clear"></div>
        </div>
    </section>
    <script>
        $(document).ready(function() {
            Galleria.loadTheme('/web/css/galleria/infinitygardens/infinitygardens.js');
            Galleria.run('#camera', {
                height: 0.665,
                thumbnails: false,
                idleMode: false,
                autoplay: 5000,
                dataConfig: function(div) {
                    return {
                        image: div.attr('data-src'),
                        //title: div.children('.camera_caption').children().eq(0).html(),
                        title: 'title',
                        description: div.html()
                    };
                }
            });

            Galleria.configure({
                showCounter: false,
                transition: 'fade',
                dataSelector: 'div'
            });
        });
    </script>
{% endblock %}
