{% extends "residential/base.twig" %}

{% block title %}<title>Infinity Gardens - Calgary Landscaping - Services</title>{% endblock %}
{% block topbg %}{% endblock %}
{% block content %}
<!--==============================content================================-->
<section id="content">
    <div class="container_24 testimonials">
        <div class="grid_6">
            <h3 class="leftmenu-header">OUR SERVICES</h3>
            <div id="leftmenu">
                {% include 'residential/parts/left_menu.html.twig' %}
            </div>
        </div>
        <div class="grid_18 rightblock">
            <h1 class="rightblock-header">Services</h1>
            <h1 class="rightblock-subheader">FOR MOMENTS THAT LAST FOREVER</h1>
            <div class="grid_10 alpha omega rightblockleft">Infinity Gardens offers a wide variety of services to complete your backyard dream. Throughout your project our foremen will have continuous communication on how the project is going and what will be happening that day, so you can see firsthand how your backyard goes from an empty space to an enjoyable extension of your home. Our designs will “wow” you, and the end result is not only breathtaking, it is the envy of the neighborhood.</div>
            <div class="righblockright">
                <div>
                    <a class="rightblocksmallimg"><img src="/web/images/services-right.jpg" alt=""></a>
                    <div class="rightblocksmalltxt"></div>
                </div>
            </div>
        </div>

        <div class="grid_24 hr"></div>

        <div class="grid_18 rightblock services">
            <div class="grid_19 alpha" id="custom-estimates">
                <div class="grid_18 alpha omega">
                    <div class="grid_4 alpha omega"><img src="/web/images/services/services1.jpg" alt="" /></div>
                    <div class="grid_14 alpha omega toright">
                        <div class="testimonial-subheader">Custom Estimates</div>
                        <div class="rightblockleft">When you get an estimate from Infinity Gardens, you get to meet with the owner of the company himself. Your estimate is accurate and honoured throughout the job. If during construction you decide on "add-ins", you will have an agreed price before an addition to the project begins.</div>
                    </div>
                </div>
            </div>
            <div class="grid_19 alpha" id="professional-designs">
                <div class="grid_18 alpha omega">
                    <div class="grid_4 alpha omega"><img src="/web/images/services/services2.jpg" alt="" /></div>
                    <div class="grid_14 alpha omega toright">
                        <div class="testimonial-subheader">Professional Designs</div>
                        <div class="rightblockleft">We work with the top designers in Calgary to help your vision come to a reality.</div>
                    </div>
                </div>
            </div>
            <div class="grid_19 alpha" id="retaining-wall">
                <div class="grid_18 alpha omega">
                    <div class="grid_4 alpha omega"><img src="/web/images/services/services3.jpg" alt="" /></div>
                    <div class="grid_14 alpha omega toright">
                        <div class="testimonial-subheader">Retaining Walls</div>
                        <div class="rightblockleft">Whether it is small or big, we take pride in the perfection and stability of our retaining walls. Please click on the projects below to view samples of our work.</div>
                    </div>
                </div>
            </div>
            <div class="grid_19 alpha" id="deck-sheds-fences">
                <div class="grid_18 alpha omega">
                    <div class="grid_4 alpha omega"><img src="/web/images/services/services4.jpg" alt="" /></div>
                    <div class="grid_14 alpha omega toright">
                        <div class="testimonial-subheader">Deck, Sheds and Fences</div>
                        <div class="rightblockleft">Our decks, sheds and fences are constructed by a journeyman carpenter who can put toghether either a simple plan of a very detailed custom design. Please click below for a sample of our work.</div>
                    </div>
                </div>
            </div>
            <div class="grid_19 alpha" id="patios">
                <div class="grid_18 alpha omega">
                    <div class="grid_4 alpha omega"><img src="/web/images/services/services5.jpg" alt="" /></div>
                    <div class="grid_14 alpha omega toright">
                        <div class="testimonial-subheader">Patios</div>
                        <div class="rightblockleft">We construct simple or extravagant patios using material of your choice from brick paving stones to natural stone. Our patios are perfectly grated and set to impress.</div>
                    </div>
                </div>
            </div>
            <div class="grid_19 alpha" id="irrigation">
                <div class="grid_18 alpha omega">
                    <div class="grid_4 alpha omega"><img src="/web/images/services/services6.jpg" alt="" /></div>
                    <div class="grid_14 alpha omega toright">
                        <div class="testimonial-subheader">Irrigation</div>
                        <div class="rightblockleft">We have an irrigation specialist who will install your irrigation right the first time.</div>
                    </div>
                </div>
            </div>
            <div class="grid_19 alpha" id="outdoor-kitchens">
                <div class="grid_18 alpha omega">
                    <div class="grid_4 alpha omega"><img src="/web/images/services/services7.jpg" alt="" /></div>
                    <div class="grid_14 alpha omega toright">
                        <div class="testimonial-subheader">Outdoor Kitchens</div>
                        <div class="rightblockleft">Our outdoor kitchens are the envy of your neighbors extending your entertainment needs outdoor. Our journeyman mason will buold your kitchen to last generations of use.</div>
                    </div>
                </div>
            </div>
            <div class="grid_19 alpha" id="outdoor-fireplaces">
                <div class="grid_18 alpha omega">
                    <div class="grid_4 alpha omega"><img src="/web/images/services/services8.jpg" alt="" /></div>
                    <div class="grid_14 alpha omega toright">
                        <div class="testimonial-subheader">Outdoor Fireplaces</div>
                        <div class="rightblockleft">Our outdoor fireplaces are a cosy addition to your backyard making even the cool evenings in Calgary enjoyable. Every detail will be built to perfection by our journeyman mason.</div>
                    </div>
                </div>
            </div>
            <div class="grid_19 alpha" id="yard-makeovers">
                <div class="grid_18 alpha omega">
                    <div class="grid_4 alpha omega"><img src="/web/images/services/services9.jpg" alt="" /></div>
                    <div class="grid_14 alpha omega toright">
                        <div class="testimonial-subheader">Yard Make-Overs</div>
                        <div class="rightblockleft">Our favorite part of landscaping is our entire yard makeovers, extending the square footage of your home outdoors so you can enjoy every foot of your property. For people who love to entertain, for families wanting a great outdoor activity center, or for people who need a relaxing haven, Infinity Gardens can make the backyard of your dreams come true.</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="grid_24 hr"></div>
    </div>
</section>
{% endblock %}
