{% extends "residential/base.twig" %}

{% block title %}<title>Infinity Gardens - Calgary Landscaping - Customer Testimonials</title>{% endblock %}
{% block topbg %}{% endblock %}
{% block content %}
<!--==============================content================================-->
<section id="content">
    <div class="container_24 testimonials">
        <div class="grid_6">
            <h3 class="leftmenu-header">OUR SERVICES</h3>
            <div id="leftmenu">
                {% include 'residential/parts/left_menu.html.twig' %}
            </div>
        </div>
        <div class="grid_18 rightblock">
            <h1 class="rightblock-header">Customer Testimonials</h1>
            <h1 class="rightblock-subheader">AMAZING PROJECTS BEGIN WITH AMAZING CUSTOMERS</h1>
            <div class="grid_10 alpha omega rightblockleft">We are proud to say we have worked with some pretty amazing people and have even gained friends through our journeys. It all starts with the customer, they have a vision for their yard, we just put that vision to reality.  But don’t take our word for it. . .  have a look at what our customers say about us.</div>
            <div class="righblockright">
                <div>
                    <a class="rightblocksmallimg"><img src="/web/images/testimonialright.jpg" alt=""></a>
                    <div class="rightblocksmalltxt"></div>
                </div>
            </div>
        </div>

        <div class="grid_24 hr"></div>

        <div class="grid_18 rightblock">
            <div class="grid_19 alpha">
                <div class="grid_18 alpha omega">
                    <h1 class="rightblock-subheader">MOST RECENT TESTIMONIALS</h1>
                    <div class="testimonial-subheader">From Philip & Richa Love</div>
                </div>
                <div class="grid_18 alpha omega testimonialtxt">
                    <div><br>Dear Infinity Gardens,<br><br>Thank you so very much for the wonderful work that you have performed in our backyard.  It was a pleasure to work with you in all aspects of the production.  The quality of the work is beyond expectation and everyone to whom we have showed the yard, has been amazed at the attention to detail and the unique and inspired design.  Your level of dedication to quality has been unsurpassed in any of the renovation projects which we have undertaken.  Every aspect of the yard has been thoughtfully carried out.  The Firepit patio is not just stunning, it is also comfortable and perfectly placed to enjoy the scenery.  The pergola is not just beautiful but is also as solid as a rock.  The shed is not just esthetic but very ergonomic.  The retaining walls are finished beautifully and are also perfectly solid with great drainage.  The rock garden in the front is designed beautifully and skilfully.  The putting green and the gardens are perfectly created in harmony with the design and the giant chessboard with the giant chess pieces are the envy of everyone who visits.<br><br>Thanks again for your care and dedication to providing us with our dream backyard.  Despite the amount of work done, you made the process easy and even fun.  I am recommending you to everyone we meet.</div>
                </div>
            </div>
            <div class="grid_18 hr"></div>
            <div class="grid_19 alpha">
                <div class="grid_18 alpha omega">
                    <div class="testimonial-subheader">From John & Lorinda Moss</div>
                </div>
                <div class="grid_18 alpha omega testimonialtxt">
                    <div><br>To Whom It May Concern:<br><br>
We approached Infinity Landscaping when they were completing a project of landscaping our neighbor's yard. After meeting with Stan and providing him with the architecture specifications of what we wanted completed in our yard he quickly came back with a fair quote and thus won our business. We have been nothing but pleased with the service we have received from Stan and his team. Stan kept us up to date on the timelines for completion for our projects. If we had any concerns he addressed them immediately. We have grown to trust and respect Stan’s judgment and have often relied on him for names of other professionals. We were so pleased with the work they did in 2011 that we decided to have them back in 2012 to do some further landscaping for us! If you are looking for landscape architecture we would highly recommend Infinity Landscaping to bring your vision to reality. You would be among the many friends who we have recommended, and they have happily used, the services of Infinity Landscaping.</div>
                </div>
            </div>
        </div>
        <div class="grid_24 hr"></div>
    </div>
</section>
{% endblock %}