{% extends "commercial/base.twig" %}

{% block title %}<title>Infinity Gardens - Calgary Landscaping - About Us</title>{% endblock %}
{% block topbg %}{% endblock %}
{% block content %}
    <!--==============================content================================-->
    <section id="content">
        <div class="container_24">
            <div class="grid_6">
                <h3 class="leftmenu-header">OUR SERVICES</h3>
                <div id="leftmenu">
                    {% include 'commercial/parts/left_menu.html.twig' %}
                </div>
            </div>
            <div class="grid_18 rightblock">
                <h1 class="rightblock-header">About Us</h1>
                <h1 class="rightblock-subheader">WE LOVE THE WORK WE DO:</h1>
                <div class="grid_10 alpha omega rightblockleft">Infinity Gardens take pride in every aspect of work that we do. We are meticulous and care about what our final product looks like. Our customers always come first.</div>
                <div class="righblockright">
                    <div>
                        <a class="rightblocksmallimg"><img src="/web/content/commercial_logo_big.png" alt=""></a>
                        <!--div class="rightblocksmalltxt"></div-->
                    </div>
                </div>
            </div>

            <div class="grid_24 hr"></div>

            <div class="grid_18 rightblock abouteam">
                <h1 class="rightblock-subheader abouteamtitle">ABOUT THE COMPANY</h1>
                <div class="grid_18 alpha omega rightblockleft aboutblock">
                    <div class="grid_9 alpha omega suffix_1">Expanding to commercial was very exciting for us. We love to watch our company grow and enjoy meeting all of the new people we get to service. Our goal is to have a great reputation which means paying close attention to what our clients have to say and to make sure their needs are met. You can rest easy that working with our team with be efficient and pleasant.
                    </div>
                    <div class="righblockright">
                        <div>
                            <a class="rightblocksmallimg"><img alt="" src="/web/images/logo_white2.jpg"></a>
                            <!--div class="rightblocksmalltxt"></div-->
                        </div>
                    </div>
                </div>
                <h1 class="rightblock-subheader abouteamtitle" style="margin-top:24px;">OUR TEAM</h1>
                <div class="grid_18 alpha omega rightblockleft aboutblock">
                    <div class="grid_18 alpha omega"><b>Stanley Rector</b>, the founder, is a young entrepreneur with a passion for landscaping. Stanley has experience in many of the trades and is a skilled and certified bobcat operator. He monitors his sites to be sure that every project is completed with precision and discretion.
                    </div>
                    <div class="righblockright">
                        <div>
                            <a class="rightblocksmallimg"></a>
                            <div class="rightblocksmalltxt"></div>
                        </div>
                    </div>
                </div>
                <div class="grid_18 alpha omega rightblockleft aboutblock">
                    <div class="grid_18 alpha omega"><b>Charles Kelloway</b> has been in the trade for 15 years. Charles work ethic and friendly personality makes working with clients a breeze. As our head foreman, he works diligently to ensure your project is mastered and built to last. Every step is taken to produce a quality construction project in a timely manner.
                    </div>
                    <div class="righblockright">
                        <div>
                            <a class="rightblocksmallimg"></a>
                            <div class="rightblocksmalltxt"></div>
                        </div>
                    </div>
                </div>
                <div class="grid_18 alpha omega rightblockleft aboutblock">
                    <div class="grid_18 alpha omega"><b>Pablo Jiminez</b> designs masterpieces for your backyard dreams. As a well-educated Architect & Engineer, he will be sure your design fits your yard, your tastes and will be perfectly unique. We believe that every individual deserves a yard that is as individual as they are, and Pablo will personally meet with you to be sure that happens.
                    </div>
                    <div class="righblockright">
                        <div>
                            <a class="rightblocksmallimg"></a>
                            <div class="rightblocksmalltxt"></div>
                        </div>
                    </div>
                </div>
                <div class="grid_18 alpha omega rightblockleft aboutblock">
                    <div class="grid_18 alpha omega"><b>Pedro Paradas</b> has an eye for perfection when it comes to your landscape summer maintenance. From creating a greener lawns, to cultivating your beds, he and his team will make sure nothing is forgotten and your business will look inviting!
                    </div>
                    <div class="righblockright">
                        <div>
                            <a class="rightblocksmallimg"></a>
                            <div class="rightblocksmalltxt"></div>
                        </div>
                    </div>
                </div>
		<div class="grid_18 alpha omega rightblockleft aboutblock">
                    <div class="grid_18 alpha omega"><b>Nigel Robertson</b> is our softscape specialist along with many other skills. He will make sure the finishing touches of your yard are beautifully placed and properly planted.
                    </div>
                    <div class="righblockright">
                        <div>
                            <a class="rightblocksmallimg"></a>
                            <div class="rightblocksmalltxt"></div>
                        </div>
                    </div>
                </div>
		<div class="grid_18 alpha omega rightblockleft aboutblock">
                    <div class="grid_18 alpha omega"><b>Erin Rector</b> is a trained estimator and skilled in customer relations. Taking care of our commercial maintenance division, Erin will always be available to call and will have any matters taken care of immediately. She was trained by an experienced horticulturist to fill in her team if needed and her meticulous nature ensures your property will look its best!
                    </div>
                    <div class="righblockright">
                        <div>
                            <a class="rightblocksmallimg"></a>
                            <div class="rightblocksmalltxt"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <script>
        $(document).ready(function() {

        });
    </script>
{% endblock %}
