{% extends "commercial/base.twig" %}

{% block title %}<title>Infinity Gardens - Calgary Landscaping - Contact Us</title>{% endblock %}
{% block head %}
    {{ parent() }}
{% block topbg %}{% endblock %}
<link rel="stylesheet" href="/web/js/pixelmatrix-uniform-3e9cd85/themes/default/css/uniform.default.css" media="screen" />
<script src="/web/js/pixelmatrix-uniform-3e9cd85/jquery.uniform.min.js"></script>
{% endblock %}
{% block content %}
    <!--==============================content================================-->
    <section id="content">
        <div class="container_24">
            <div class="grid_6">
                <h3 class="leftmenu-header">OUR SERVICES</h3>
                <div id="leftmenu">
                    {% include 'commercial/parts/left_menu.html.twig' %}
                </div>
            </div>
            <div class="grid_18 rightblock">
                <h2 style="margin-top:0;">Contact Us</h2><br/>
		<div>Infinity Commercial:</div> 
		<div>6948 Hunterbow Cres NW, Calgary AB T2K 4R5</div>
		<div>(403) 401-0375</div>
                {% for message in app.session.getFlashBag.get('contactform') %}
                    <h2>{{ message }}</h2>
                {% endfor %}
                <form id="form1" action="" method="post">
                    <div class="success"><div class="success_txt">Contact form submitted!<br /><strong> We will be in touch soon.</strong></div></div>
                    <fieldset>
                        <label class="firstname">
                            {{ form_widget(form.firstname) }}
                            {{ form_errors(form.firstname) }}
                        </label>
                        <label class="lastname">
                            {{ form_widget(form.lastname) }}
                            {{ form_errors(form.lastname) }}
                        </label>
                        <label class="phone">
                            {{ form_widget(form.phone) }}
                            {{ form_errors(form.phone) }}
                        </label>
                        <label class="email">
                            {{ form_widget(form.email) }}
                            {{ form_errors(form.email) }}
                        </label>                                                                   
                        <label class="message">
                            {{ form_widget(form.message) }}
                            {{ form_errors(form.message) }}
                        </label>
                        <div class="clear"></div>
                        <div class="link-form">    
                            <!--a class="link2 p27" href="#" data-type="reset">clear</a>
                            <a class="link2" href="#" data-type="submit">Send</a-->
                            <input type="submit" value="Send" />
                        </div>
                        {{ form_rest(form) }}
                    </fieldset>           
                </form>
            </div>
            <div class="grid_18 rightblock">
                <p><b>Employment Opportunities:</b> We are looking for hardworking and creative people with a positive attitude and attention to detail.  If you are interested in joining the team at Infinity Gardens send your curriculum vitae and cover letter toInfinity Gardens hires talented, hard working people. If you think you have what it takes to become part of our team, send your resume to: <a href="mailto:info@infinitygardens.ca" target="_top"><b>info@infinitygardens.ca</b></a></p>
            </div>
        </div>
    </section>
    <script>
        $(document).ready(function() {
            $('input, textarea').uniform();
        });
    </script>
{% endblock %}
