{% extends "commercial/base.twig" %}

{% block title %}<title>Infinity Gardens - Calgary Landscaping</title>{% endblock %}
{% block head  %}
  {{ parent() }}
  <link rel="stylesheet" href="/web/css/galleria/infinitygardens/style.css" media="screen" />
  <script src="/web/js/galleria/galleria-1.3.5.min.js"></script>
{% endblock  %}
{% block slider %}
  {% include 'commercial/parts/slider1.twig' %}
{% endblock %}
{% block content %}
  <!--==============================content================================-->
  <section id="content">
    <div class="container_24">
      <div class="grid_6">
        <h3 class="leftmenu-header">OUR SERVICES</h3>
        <div id="leftmenu">
          {% include 'commercial/parts/left_menu.html.twig' %}
        </div>
      </div>
      <div class="grid_18 rightblock alpha">
        <h1 class="rightblock-header">Where Quality Exceeds Expectations</h1>
        <div class="grid_10 alpha omega rightblockleft">Infinity Commercial services a wide range of clients from Medical offices to retirement homes to shopping centers. Our talented, dedicated team of professionals are out working hard in all conditions of our crazy 4 seasons. During winter we are clearing your sidewalks and parking lots so if you want to wear your heels to work, you can! During the summer months we care for your landscape so your business is as inviting as you are.<br><br>Choose Infinity Commercial for your year round service, and we will take care of your snow removal and landscape maintenance, so you can focus on more important things.</div>
        <div class="righblockright">
          <div>
            <a class="rightblocksmallimg"><img src="/web/content/commercial_home1.jpg" alt=""></a>
            <!--div class="rightblocksmalltxt"></div-->
          </div>
          <div>
            <a class="rightblocksmallimg"><img src="/web/content/commercial_home2.jpg" alt=""></a> 
          </div>
        </div>
      </div>
      <div class="grid_24 hr"></div> 
      <div class="grid_18 rightblock alpha">
        <div class="grid_19 alpha">
          <h1 class="rightblock-subheader">NEWS & EVENTS</h1>
	  <div class="recentproj">
	    <div class="newseventdate">August 22, 2014</div>
	    <h4 class="newseventheader">Fall Cleanup</h4>
	    <div class="recentprojtxt">
	      <span>Fall cleanup will be started in October. Our fall cleanup includes, leaf cleanup, final cut, and a final tree/shrub pruning before winter.</span>
	    </div>
	  </div>
	  <div class="recentproj">
	    <div class="newseventdate">April 15, 2014</div>
	    <h4 class="newseventheader">Spring is Here!</h4>
	    <div class="recentprojtxt">
	      <span>If you see our trucks around the city you will notice we are working hard doing spring cleanup. We are power raking, pruning and edging your beds to get your property ready to look beautiful this summer. If you haven’t booked your landscape maintenance company yet call Infinity Gardens at 403-401-0375.</span>
	    </div>
	  </div>
	  <div class="recentproj">
	    <div class="newseventdate">August 13, 2014</div>
	    <h4 class="newseventheader">Winter is around the corner!</h4>
	    <div class="recentprojtxt">
	      <span>Even though we would rather not think about it, winter is just around the corner. Get your snow removal service booked now to ensure your property will have priority this winter. Call Erin @403-991-0762.</span>
	    </div>
	  </div> 

	  <div class="clear"></div>
        </div>
      </div>
      <div class="clear"></div>
    </div>
  </section>
  <script>
   $(document).ready(function() {
     Galleria.loadTheme('/web/css/galleria/infinitygardens/infinitygardens.js');
     Galleria.run('#camera', {
       height: 0.665,
       thumbnails: false,
       idleMode: false,
       autoplay: 5000,
       dataConfig: function(div) {
         return {
           image: div.attr('data-src'),
           //title: div.children('.camera_caption').children().eq(0).html(),
           title: 'title',
           description: div.html()
         };
       }
     });

     Galleria.configure({
       showCounter: false,
       transition: 'fade',
       dataSelector: 'div'
     });
   });
  </script>
{% endblock %}
