{% extends "commercial/base.twig" %}

{% block title %}<title>Infinity Gardens - Calgary Landscaping - Services</title>{% endblock %}
{% block topbg %}{% endblock %}
{% block content %}
<!--==============================content================================-->
<section id="content">
    <div class="container_24 testimonials">
        <div class="grid_6">
            <h3 class="leftmenu-header">OUR SERVICES</h3>
            <div id="leftmenu">
                {% include 'commercial/parts/left_menu.html.twig' %}
            </div>
        </div>
        <div class="grid_18 rightblock">
            <h1 class="rightblock-header">Services</h1>
            <h1 class="rightblock-subheader">Where quality exceeds Expectations</h1>
            <div class="grid_10 alpha omega rightblockleft">Infinity Gardens offers a wide variety of services to meet your needs. We believe in communication, and that is why our phones are on 24 hours a day. Our services are exactly what your business needs.</div>
            <div class="righblockright">
                <div>
                    <a class="rightblocksmallimg"><img src="/web/images/services-right.jpg" alt=""></a>
                    <div class="rightblocksmalltxt"></div>
                </div>
            </div>
        </div>

        <div class="grid_24 hr"></div>

        <div class="grid_18 rightblock services">
            <div class="grid_19 alpha" id="snow-removal">
                <div class="grid_18 alpha omega">
                    <div class="grid_4 alpha omega"><img src="/web/images/services/097.jpg" alt="" /></div>
                    <div class="grid_14 alpha omega toright">
                        <div class="testimonial-subheader">Snow Removal</div>
                        <div class="rightblockleft">We offer a full service snow and ice removal. A business can shut down in a snow storm if their lot is not properly taken care of. We offer a monthly contract that will get your sidewalks cleared right away and salt applied immediately after. We will plow the lots after 2 inches of snow and apply sand to prevent ice. </div>
                    </div>
                </div>
            </div>
            <div class="grid_19 alpha" id="spring-cleanup">
                <div class="grid_18 alpha omega">
                    <div class="grid_4 alpha omega"><img src="/web/images/services/060.jpg" alt="" /></div>
                    <div class="grid_14 alpha omega toright">
                        <div class="testimonial-subheader">Spring Cleanup</div>
                        <div class="rightblockleft">Our spring cleanup service includes power raking, dead wood and pruning, edging tree wells and beds, and applying the first fertilizing treatment. This prepares your property to look its best in the summer months.</div>
                    </div>
                </div>
            </div>
            <div class="grid_19 alpha" id="summer-maintanance">
                <div class="grid_18 alpha omega">
                    <div class="grid_4 alpha omega"><img src="/web/images/services/047.jpg" alt="" /></div>
                    <div class="grid_14 alpha omega toright">
                        <div class="testimonial-subheader">Summer Maintenance</div>
                        <div class="rightblockleft">Our summer maintenance monthly service includes 4 visits to your property for weed control and a lawn cut. We will prune your trees and shrubs as needed usually every 4-6 weeks. We will fertilize your lawn up to 4 times per year depending on the health of your lawn, at least 2 of these times using a slow release fertilizer. We will also maintain the edge around your beds and tree wells as needed.</div>
                    </div>
                </div>
            </div>
            <div class="grid_19 alpha" id="fall-cleanup">
                <div class="grid_18 alpha omega">
                    <div class="grid_4 alpha omega"><img src="/web/images/services/commercial/services4.jpg" alt="" /></div>
                    <div class="grid_14 alpha omega toright">
                        <div class="testimonial-subheader">Fall Cleanup</div>
                        <div class="rightblockleft">Our fall cleanup service includes leaf pickup, the final edging around your beds and tree wells, and a prune and deadwood done by a professional horticulturist.</div>
                    </div>
                </div>
            </div>
            <div class="grid_19 alpha" id="fertilization">
                <div class="grid_18 alpha omega">
                    <div class="grid_4 alpha omega"><img src="/web/images/services/066.jpg" alt="" /></div>
                    <div class="grid_14 alpha omega toright">
                        <div class="testimonial-subheader">Weed Control & Fertilization</div>
                        <div class="rightblockleft">If you have a custom contract that does not include our weed control and fertilizer, you can have this ordered separately on call. Our professional pesticides applicator will come and take care of your needs for a reasonable rate.</div>
                    </div>
                </div>
            </div>
            <div class="grid_19 alpha" id="sprinkler">
                <div class="grid_18 alpha omega">
                    <div class="grid_4 alpha omega"><img src="/web/images/services/services6.jpg" alt="" /></div>
                    <div class="grid_14 alpha omega toright">
                        <div class="testimonial-subheader">Sprinkler start-up and blowout</div>
                        <div class="rightblockleft">Call to get your quote today 403-401-0375</div>
                    </div>
                </div>
            </div>
            <div class="grid_19 alpha" id="custom">
                <div class="grid_18 alpha omega">
                    <div class="grid_4 alpha omega"><img src="/web/images/services/commercial/services7.jpg" alt="" /></div>
                    <div class="grid_14 alpha omega toright">
                        <div class="testimonial-subheader">Custom Contracts</div>
                        <div class="rightblockleft">If our monthly contract does not fit your needs we are able to customize a contract that will work for you. Call Erin to get your quote (403) 991-0762</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="grid_24 hr"></div>
    </div>
</section>
{% endblock %}
