{% extends "commercial/base.twig" %}

{% block title %}<title>Infinity Gardens - Calgary Landscaping - Customer Testimonials</title>{% endblock %}
{% block topbg %}{% endblock %}
{% block content %}
<!--==============================content================================-->
<section id="content">
    <div class="container_24 testimonials">
        <div class="grid_6">
            <h3 class="leftmenu-header">OUR SERVICES</h3>
            <div id="leftmenu">
                {% include 'commercial/parts/left_menu.html.twig' %}
            </div>
        </div>
        <div class="grid_18 rightblock">
            <h1 class="rightblock-header">Customer References</h1>
            <h1 class="rightblock-subheader">Our Clients are our first priority</h1>
            <div class="grid_10 alpha omega rightblockleft">When you decide to choose Infinity Commercial, you decide to be well taken care of. What makes us stand out from other companies is that we have a desire to always please our clients. We want to get it right the first time, and if we don’t you can be sure we will do everything we can to get it right the second. We work very closely with you to make sure that we fulfill every one of your expectations.</div>
            <div class="righblockright">
                <div>
                    <a class="rightblocksmallimg"><img src="/web/images/commercial_references1.jpg" alt=""></a>
                    <div class="rightblocksmalltxt"></div>
                </div>
            </div>
        </div>

        <div class="grid_24 hr"></div>

        <div class="grid_18 rightblock">
            <div class="grid_19 alpha">
                <div class="grid_18 alpha omega">
                    <h1 class="rightblock-subheader">MOST RECENT REFERENCES</h1>
                    <div class="testimonial-subheader">Rocky Ridge Retirement</div>
                </div>
                <div class="grid_18 alpha omega testimonialtxt">
                    <div><br>I personally recommend Infinity Gardens for landscaping as well as snow removal. After having them take care of our property for a full season now, I’ve found their staff to be professional, punctual and friendly. Last winter’s weather was exceptional and quite a challenge for anyone in the business of snow removal, and our needs were being taken care of regardless. This is important as we are a retirement community, and safety is one of our concerns. The property looks great and the staff and residents of Rocky Ridge appreciate the hard work that it takes to achieve that.<br><br>Phil Milton<br>Environmental Services Manager<br>Rocky Ridge Retirement Community</div>
                </div>
            </div>
            <div class="grid_18 hr"></div>
            <div class="grid_19 alpha">
                <div class="grid_18 alpha omega">
                    <div class="testimonial-subheader">Princess Auto</div>
                </div>
                <div class="grid_18 alpha omega testimonialtxt">
                    <div><br>This is the first year that we have dealt with Infinity at our location. We started in or around April and since then we have had extremely dedicated and outstanding service. The Price that they offered us and services supplied where very reasonable and always in line with our signed agreement. They are always here when required and never have to be reminded. They go above and beyond to ensure that our landscaped areas look awesome and always nicely groomed. Stan and his team are always checking to ensure that we are satisfied with the service that we are receiving. It has been a pleasure to have chosen Infinity Gardens as our landscaping company and look forward to working with Stan and his team in the years ahead. I would highly recommend Stan and there company to anyone whose is looking for great service and beautiful landscapes.</div>
                </div>
            </div>
        </div>
        <div class="grid_24 hr"></div>
    </div>
</section>
{% endblock %}
